.form-layout table {
	margin:10px auto;
	width: 100%;
}
.form-layout table th,
.form-layout table td {
	font: normal 12px Arial;	
}
.form-layout caption {
	padding: 5px;
	font: bold 14px Arail;
	background-color: buttonface;
}

.form-layout fieldset {
	display: inline-table;
	padding-right: 10px;
	margin: 10px 8px 0 0;
}

.form-layout:after {
	clear:both;
}

.form-layout label {
	display: block;
	font-weight: bold;
}
.form-layout table td:nth-child(odd) {
	text-align: right;
}

.form-layout table td:nth-child(even) {
	text-align: left;
}