html, body {
	font: normal 12px Arial;
}

body {
	overflow: auto;
	padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.2em;
	text-align: center;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

label {
	vertical-align: middle;
}

fieldset {
	border-color: #95B8E7;
}

legend {
	padding: .2em;
	font-weight: bold;
}

input[type="text"] {
	width: 146px;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
}

button {
	width: 100px;
}

select {
	width: 150px;
}

textarea {
	border: 1px solid #95B8E7;
	background-color: #fff;
	padding: 3px;
	outline: none;
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	background-color: #fff;
	padding: 3px;
}

table th, table td {
	padding: 3px 5px;
}

em {
	color: #FF0000;
	padding: 5px;
	vertical-align: middle;
}

.msg-box {
	text-align: center;
}

.tips {
	color: #FF0000;
}

/** EasyUI 样式重置 */
span.textbox, span.combo, span.datebox {
	-moz-border-radius: 0px 0px 0px 0px;
  	-webkit-border-radius: 0px 0px 0px 0px;
  	border-radius: 0px 0px 0px 0px;
}

/** 基础布局样式 */
.layout {
	padding: 10px;
}

/** 表格布局样式 */
.table-layout {
	width: 100%;
	text-align: center;
	font: normal 12px Arial;
}

.table-layout caption {
	padding: 5px;
	font: bold 14px Arail;
	background-color: buttonface;
}

.table-layout fieldset {
	/* display: inline-table; */
	padding-right: 10px;
	margin: 10px 8px 0 0;
	text-align: left;
}

.table-layout:after {
	clear:both;
}

.table-layout label {
	display: block;
	width: 100px;
}

.table-layout table th,
.table-layout table td {
	font: normal 12px Arial;	
}

.table-layout table td button,
.table-layout table td input {
	height: 1.8em;
}

.table-layout table td:nth-child(odd) {
	text-align: right;
}

.table-layout table td:nth-child(even) {
	text-align: left;
}

.line-space {
	margin-top: 10px;
}

.horizontal {
	text-align: center;
}

.vertical {
	vertical-align: middle;
}
