<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.ui.unionpay.mapper.UPInterface3118Mapper">
	
	<select id="select3118Sequence" resultType="java.lang.Integer">
		select SEQ_INTERFACE_3118.NEXTVAL from dual
	</select>

</mapper>