@charset "utf-8";
body{background:url(../images/monitor/bg.jpg) no-repeat center top #637697;padding:0;margin:0;overflow-x:hidden;}
input,select{border:1px solid #A4BED4}
.title{width:100%;height:60px;background:url(../images/monitor/head_bg.jpg) no-repeat center center;background-color:#050F44;}
.title_you{width:440px;height:100%;float:right;position:relative;}
#yong_hu{float:right;margin-top:3px;}
#tou_xiang{display:inline-block;width:12px;height:19px;background:url(../images/monitor/tou_xiang.png) no-repeat;position:relative;top:5px;}
#yong_hu span{background:none;border:none;color:#FFF;font-size:26px;line-height:26px;font-family:"微软雅黑";display:inline-block;margin-bottom:3px;margin-right:55px;}
#dangqian_ye{clear:both;width:163px;height:30px;text-align:center;line-height:30px;color:#fff;font-size:14px;font-weight:bold;background:url(../images/monitor/bg_dangqian.png) no-repeat;position:absolute;left:0px;bottom:0px;}
#tui_chu{width:37px;height:36px;background:url(../images/monitor/tuichu.png) no-repeat;border:none;position:relative;top:-4px;top:9px\0;right:30px;cursor:pointer;}
#tui_chu:hover{width:37px;height:36px;background:url(../images/monitor/tuichu_hover.png) no-repeat;border:none;position:relative;top:-4px;top:9px\0;right:30px;cursor:pointer;}
/*以上为头部样式*/
.content_box{width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;}
.dangRi_jj,.leiJi_jj{float:left;width:26%;height:95%;margin:10px;margin-top:25px;}
.top_sj{float:left;width:41.5%;height:95%;margin:10px;margin-top:25px;}
.dr_title{width:100%;height:80px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:1px solid #0265AF;font-size:30px;font-family:"黑体","微软雅黑";font-weight:bold;color:#fff;text-align:center;line-height:80px;background:url(../images/monitor/drjj.png) no-repeat 35% center #0F7DC1;}
.lj_title{width:100%;height:80px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:1px solid #0265AF;font-size:30px;font-family:"黑体","微软雅黑";font-weight:bold;color:#fff;text-align:center;line-height:80px;background:url(../images/monitor/ljjj.png) no-repeat 35% center #0F7DC1;}
.jjl{width:100%;height:250px;border-radius:5px;font-size:30px;font-family:"黑体","微软雅黑";font-weight:bold;color:#fff;background:#0F7DC1;}
.jjl p{margin:0;padding:0;height:49.5%;float:left;line-height:125px;}
.jjl .jjl_1,.jjl_3{width:52%;}
.jjl .jjl_2,.jjl_4{width:47.5%;}
.jjl p input{width:135px;height:60px;font-size:30px;border:1px solid #50A0E2;border-radius:5px;background-color:#EEF7FF;padding-left:5px;font:30px bold "Arial Black",Helvetica,sans-serif,"黑体","微软雅黑";}
.jjl_1 input{color:#E73828;}
.jjl_2 input{color:#E73828;}
.jjl_3 input{color:#006934;}
.jjl_4 input{color:#5F1985;}
.jjl_1{border-bottom:1px solid #0265AF;border-right:1px solid #0265AF;}
.jjl_2{border-bottom:1px solid #0265AF;border-left:1px solid #35AED8;}
.jjl_3{border-right:1px solid #0265AF;border-top:1px solid #35AED8;}
.jjl_4{border-top:1px solid #35AED8;border-left:1px solid #35AED8;}
.top_title{width:100%;height:63px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:1px solid #E73828;font-size:30px;font-family:"黑体","微软雅黑";font-weight:bold;color:#fff;text-align:center;line-height:65px;background:url(../images/monitor/TOP10_BG.png) repeat-x;margin-top:20px;}
.fixedThead{display:block;width:100%;}
.top_title img{position:relative;top:12px;left:15px;}
.table_box{width:100%;height:95%;overflow:hidden;overflow-y:hidden;margin-bottom:12px;}
.table_box_scroll{width:100%;height:95%;overflow:hidden;overflow-y:scroll;margin-bottom:12px;}
table,tr,th,td{border-collapse:collapse;}
table{width:100%;}
.top10 th{height:50px;color:#3E3A39;font-size:20px;font-family:"微软雅黑";font-weight:bold;background-color:#DBDCDC;border-right:1px solid #B4B4B5;border-left:1px solid #F7F7F7;border-bottom:1px solid #F7F7F7;}
.top10 td{height:47px;color:#3E3A39;font-size:20px;font-family:"微软雅黑";text-align:center;background-color:#fff;border-left:1px solid #EFD4AF;}
.gray td{background-color:#EEEEEE;}
.white td{background-color:#FFFFFF;}
.gray td:nth-child(1){background-color:#F9E9D2;}
.gray td:nth-child(2){background-color:#F9E9D2;}
.top10 tr td:nth-child(1){color:#E73828;}
.top10 tr td:nth-child(2){text-align:left;}
.table-jj th{height:50px;color:#fff;font-size:21px;font-family:"微软雅黑";font-weight:normal;background-color:#0F7DC1;border-top:1px solid #35AED8;border-left:1px solid #0265AF;border-bottom:1px solid #F7F7F7;}
.table-jj td{width:25%;height:35px;color:#085182;font-size:16px;font-family:"微软雅黑";font-weight:bold;text-align:center;background-color:#fff;border-bottom:1px solid #fff;border-left:1px solid #66C2EC;}
.table-jj .green td{background-color:#E3F7D2;color:#006934;}
.table-jj .blue td{background-color:#DAF1F7;}
.table-jj .pink td{background-color:#F9E9D2;color:#E73829;}
.top10 tr:nth-last-child(1) td:nth-last-child(1){border-bottom-right-radius:5px;}
.top10 tr:nth-last-child(1) td:nth-child(1){border-bottom-left-radius:5px;}
.table-jj tr:nth-last-child(1) td:nth-last-child(1){border-bottom-right-radius:5px;}
.table-jj tr:nth-last-child(1) td:nth-child(1){border-bottom-left-radius:5px;}