html, body {
	font: normal 12px Arial;
}

body {
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	text-align: center;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

label {
	vertical-align: middle;
}

fieldset {
	border-color: #95B8E7;
}

input[type="text"] {
	width: 146px;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 5px;
}

button {
	width: 100px;
}

select {
	width: 150px;
	height: 20px;
}

textarea {
	border: 1px solid #95B8E7;
	background-color: #fff;
	padding: 3px;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	background-color: #fff;
	padding: 3px;
}

table {
	border-collapse: collapse;
	empty-cells: show;
}

table td {
	padding: 3px 0px;
}

em {
	color: #FF0000;
	padding: 5px;
	vertical-align: middle;
}

.display {
	display: none;
}

/** 显示区 */
.area-show {
	margin-top: 10px;
}

.center-show {
	text-align: center;
}

/** 搜索区 */
.area-search {
	min-width: 80%;
}

.area-search table {
	width: 80%;
	margin: 0 auto;
}

.area-search table td label {
	display: block;
	vertical-align: middle;
	text-align: right;
	min-width: 100px;
}

/** 功能区 */
.area-function {
	text-align: center;
	padding: 10px;
}

/** 操作区 */
.area-operate {
	padding: 10px;
	padding: 10px;
}

.area-search .label, .area-operate .label {
	display: inline-block;
	width: 120px;
	text-align: right;
}

.formtable {
	width: 600px;
	display: table;
	clear: both;
	font-size: 12px;
}

.formtable td {
	height: 35px;
	width: 120px;
	word-break: break-all;
	word-wrap: break-word;
}

.formtable td:nth-child(2n) {
	width: 180px;
}

.formtable input, .formtable textarea, .formtable select {
	outline: none;
	height: 23px;
	border: 1px solid #95B8E7;
	vertical-align: middle;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.formtable input {
	width: 170px;
}

.formtable input[type="radio"] {
	width: 12px;
	vertical-align: middle;
}

.longinput input {
	width: 475px;
}

.fivetdtable {
	font-size: 12px;
	width: 650px;
}

.fivetdtable td {
	width: 120px;
}

.fivetdtable input, .fivetdtable textarea, .fivetdtable select {
	outline: none;
	height: 23px;
	border: 1px solid #95B8E7;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.fivetdtable input[type="radio"] {
	width: 12px;
	vertical-align: middle;
}

/** 通用表格样式 */
.area-list, .area-view {
	width: 100%;
}

.area-view td:nth-child(2n) {
	text-align: left;
}

.area-view td label {
	display: block;
	width: 160px;
}

.area-list th, .area-list td {
	text-align: center;
}

.area-list-style-1 th, .area-list-style-1 td {
	border: 1px solid #c0c0c0;
}
/* .area-function2 {
	text-align: center;
	margin-bottom:60px;
}
.area-function2 a {
	width: 50px;
}  */
