@charset "utf-8";
body{padding:0;margin:0;font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;background-color:#E6F0FF;color:#003476;}
.title{width:100%;height:60px;background:url(../images/head_bg.jpg) no-repeat center center;background-color:#050F44;}
.title_you{width:240px;height:100%;float:right;position:relative;}
#yong_hu{float:right;margin-top:3px;}
#tou_xiang{display:inline-block;width:12px;height:19px;background:url(../images/tou_xiang.png) no-repeat;position:relative;top:5px;}
#yong_hu input{background:none;border:none;color:#FFF;display:inline-block;margin-bottom:3px;margin-right:30px;}
#dangqian_ye{clear:both;width:163px;height:30px;text-align:center;line-height:30px;color:#fff;font-size:14px;font-weight:bold;background:url(../images/bg_dangqian.png) no-repeat;position:absolute;left:0px;bottom:0px;}	
#tui_chu{width:19px;height:19px;background:url(../images/tuichu.png) no-repeat;border:none;position:relative;top:-4px;top:5px\0;right:30px;cursor:pointer;}
#tui_chu:hover{width:19px;height:19px;background:url(../images/tuichu_hover.png) no-repeat;border:none;position:relative;top:-4px;top:5px\0;right:30px;cursor:pointer;}
/*以上为头部样式*/
#left_list{width:241px;height:857px;height:922px\0;background:url(../images/bg_list.png) repeat-y;border:1px solid #AECBFF;float:left;}/*向左浮动*/
ul{padding:0px;margin:0px;list-style:none;}
#left_list ul li{width:100%;height:56px;line-height:56px;border:1px solid #AECBFF;border-bottom:none;border-right:none;font-size:16px;color:#003476;position:relative;cursor:pointer;}
.list_hover{background:url(../images/bg_list_hover.png) repeat-y;font-weight:bold;color:#FFF;}
#left_list ul li .list_img{position:absolute;left:25px;top:15px;}
#left_list ul li a{position:absolute;left:68px;}
#left_list ul li .zhan_kai{position:absolute;right:30px;top:20px;}
#left_list ul li .shou_qi{position:absolute;right:30px;top:20px;}
#left_list ul li .xuan_zhong{position:absolute;right:30px;top:20px;}
.red_css{color:#AC001C;font-weight:bold;}
.bg_hover:hover{background:url(../images/bg_list_hover.png) repeat-y;font-weight:bold;color:#FFF;}
.bg_hover a{width:100%;height:56px;}
.bg_hover a:hover{color:#FFF}
/*以上为左边菜单样式*/
#box_right{width:100%;height:100%;position:absolute;}/*右边整体尺寸*/
.daohang_box{width:100%;height:55px;}
.daohang{width:auto;height:35px;float:left;margin-top:5px;cursor:pointer;}
.daohang span,a{display:inline-block;text-decoration:none;}
.dh_1left{width:6px;height:100%;background:url(../images/dh_1left.png) no-repeat;}
.dh_3left{width:6px;height:100%;background:url(../images/dh_3left.png) no-repeat;}
.dh_2middle{width:90px;height:100%;background:url(../images/dh_2middle.png) repeat-x;}
.dh_2right{width:7px;height:100%;background:url(../images/dh_2right.png) no-repeat;}
.dh_left{width:7px;height:100%;background:url(../images/dh_left.png) no-repeat;}
.dh_middle{width:110px;height:100%;background:url(../images/dh_middle.png) repeat-x;}
.dh_right{width:7px;height:100%;background:url(../images/dh_right.png) no-repeat;}
.dh_2left{width:6px;height:100%;background:url(../images/dh_2left.png) no-repeat;}
.dh_2middle{width:90px;height:100%;background:url(../images/dh_2middle.png) repeat-x;}
.dh_2right{width:7px;height:100%;background:url(../images/dh_2right.png) no-repeat;}
.dh_2middle,.dh_middle{color:#003476;line-height:39px;font-size:15px;text-align:center;position:relative;top:-11px;top:-10px\0;}
.dh_2middle:hover{font-weight:bold;}
.dh_middle:hover{font-weight:bold;}
.close{width:21px;height:21px;background:url(../images/close.png) no-repeat;position:relative;top:4px;left:8px;}
.fenge_daohang{clear:both;width:100%;height:3px;background-color:#9EB5F2;border:1px solid #9FC6FF;position:relative;top:-1px;z-index:-100}
.close:hover{width:21px;height:21px;background:url(../images/close_hover.png) no-repeat;position:relative;top:4px;left:8px;}
.add_2_right{width:29px;height:20px;cursor:pointer;background:url(../images/add_2_right.png) no-repeat;}
.add_2_left{width:29px;height:20px;cursor:pointer;background:url(../images/add_2_left.png) no-repeat;}
.add_1_right{width:29px;height:20px;cursor:pointer;background:url(../images/add_1_right.png) no-repeat;}
.add_1_left{width:29px;height:20px;cursor:pointer;background:url(../images/add_1_left.png) no-repeat;}
/*以上为导航菜单样式*/
.yxxx{width:383px;height:710px;float:left;}
.jcxx{width:825px;height:710px;float:left;margin-left:13px;}
.bdxx{width:420px;height:710px;float:left;margin-left:13px;}
.yxxx,.jcxx,.bdxx{height:760px\0;}/*IE11*/
.title_biao{width:290px;height:35px;margin:0 auto;}
.title_biao span,a{display:inline-block;text-decoration:none;color:#fff;}
.title_left{width:33px;height:35px;background:url(../images/title_left.png) no-repeat;}
.title_middle{width:205px;height:35px;background:url(../images/title_middle.png) repeat-x;}
.title_right{width:33px;height:35px;background:url(../images/title_right.png) no-repeat;}
.title_right2{width:33px;height:35px;background:url(../images/title_right2.png) no-repeat;}
.title_middle_2{width:100px;height:35px;background:url(../images/title_middle.png) repeat-x;}
.title_middle,.title_middle_2,.title_m_2{font-size:16px;color:#fff;line-height:35px;text-align:center;letter-spacing:2px;position:relative;top:-13px;top:-11px\0;}
.title_m_2{width:100px;height:35px;background:url(../images/title_middle2.png) repeat-x;color:#003476;}
.xian{width:100%;height:0px;background:url(../images/xian.png) repeat-x;border-right:2px solid #2444C2;position:relative;}
.neirong{width:100%;border:1px solid #AECBFF;background-color:#fff;}
.fenge{clear:both;width:100%;height:5px;background-color:#9EB5F2;position:relative;top:-20px;}
#button_box{width:100%;height:55px;position:absolute;bottom:0px;display:table-row;vertical-align:middle;}
.xiugai_jilu{display:inline-block;width:179px;height:32px;background:url(../images/bt_xiugai.png) no-repeat;margin-left:65px;}
.waiwang_sousuo{display:inline-block;width:113px;height:32px;background:url(../images/bt_wwss.png) no-repeat;margin-left:40px;}
.gou_xuan{display:inline-block;position:relative;top:-10px;margin-left:725px;}
.ti_jiao{display:inline-block;width:93px;height:32px;background:url(../images/bt_tijiao.png) no-repeat;margin-left:30px;}
.bao_cun{display:inline-block;width:93px;height:32px;background:url(../images/bt_baocun.png) no-repeat;margin-left:30px;}
.salary_search{display:inline-block;width:120px;height:32px;background:url(../images/salary.png) no-repeat;margin-left:30px;}
.salary_search:hover{display:inline-block;width:120px;height:32px;background:url(../images/salary_hover.png) no-repeat;margin-left:30px;}
.memo{display:inline-block;width:84px;height:32px;background:url(../images/memo.png) no-repeat;}
.memo:hover{display:inline-block;width:84px;height:32px;background:url(../images/memo_hover.png) no-repeat;}
.xiugai_jilu:hover{display:inline-block;width:179px;height:32px;background:url(../images/bt_xiugai_hover.png) no-repeat;margin-left:65px;}
.waiwang_sousuo:hover{display:inline-block;width:113px;height:32px;background:url(../images/bt_wwss_hover.png) no-repeat;margin-left:40px;}
.ti_jiao:hover{display:inline-block;width:93px;height:32px;background:url(../images/bt_tijiao_hover.png) no-repeat;margin-left:30px;}
.bao_cun:hover{display:inline-block;width:93px;height:32px;background:url(../images/bt_baocun_hover.png) no-repeat;margin-left:30px;}
.bu_jian{display:inline-block;width:93px;height:32px;background:url(../images/bt_bujian.png) no-repeat;margin-left:40px;}
.gouxuan_tijiao{display:inline-block;width:93px;height:32px;background:url(../images/gouxuantijiao.png) no-repeat;margin-left:30px;}
.piliang_tijiao{display:inline-block;width:93px;height:32px;background:url(../images/piliangtijiao.png) no-repeat;margin-left:30px;}
.gouxuan_tijiao:hover{display:inline-block;width:93px;height:32px;background:url(../images/gouxuantijiao_hover.png) no-repeat;margin-left:30px;}
.piliang_tijiao:hover{display:inline-block;width:93px;height:32px;background:url(../images/piliangtijiao_hover.png) no-repeat;margin-left:30px;}
.bu_jian:hover{display:inline-block;width:93px;height:32px;background:url(../images/bt_bujian_hover.png) no-repeat;margin-left:40px;}
.btn_checkHistory{display:inline-block;width:162px;height:32px;background:url(../images/btn_checkHistory.png) no-repeat;margin-left:65px;}
.btn_checkHistory:hover{display:inline-block;width:162px;height:32px;background:url(../images/btn_checkHistory_hover.png) no-repeat;margin-left:65px;}
.btn_transLog{display:inline-block;width:112px;height:32px;background:url(../images/transLog.png) no-repeat;}
.btn_transLog:hover{display:inline-block;width:112px;height:32px;background:url(../images/transLog_hover.png) no-repeat;}
.refreshload{display:inline-block;width:83px;height:32px;background:url(../images/refreshload.png) no-repeat;}
.refreshload:hover{display:inline-block;width:83px;height:32px;background:url(../images/refreshload_hover.png) no-repeat;}
.btn_zzwt{display:inline-block;width:113px;height:32px;background:url(../images/btn_zzwt.png) no-repeat;}
.btn_zzwt:hover{display:inline-block;width:113px;height:32px;background:url(../images/btn_zzwt_hover.png) no-repeat;}
.btn_white{display:inline-block;width:84px;height:32px;background:url(../images/btn_white.png) no-repeat;}
.btn_white:hover{display:inline-block;width:84px;height:32px;background:url(../images/btn_white_hover.png) no-repeat;}
/*以上为：影像比对，右边菜单样式*/
.shouye_box{width:535px;height:395px;height:422px\0;float:left;margin-left:13px;}
.shouye_neirong{width:100%;height:320px;height:340px\0;border:1px solid #AECBFF;background-color:#fff;}
.shouye_neirong ul{list-style-image:url(../images/list_style_img.png);position:relative;top:50px;padding-left:80px;}
.shouye_neirong li,.shouye_neirong p{height:55px;font-size:19px;color:#595757;letter-spacing:2px;}
.shouye_neirong p{width:70%;}
.shouye_neirong li strong{font-family:"Arial Black",Arial,Helvetica,sans-serif;font-size:32px;color:#AC001C;}
.shouye_neirong li a{font-size:24px;color:#003476;text-decoration:underline;}
.shouye_neirong h2{font-size:32px;color:#003476;letter-spacing:4px;}
/*以上为：首页样式*/
/*以下为：影像比对，表单样式*/
.title_blue{width:100%;height:24px;background-color:#CFE6FE;color:#003476;font-size:14px;line-height:22px;margin:0 0 10px 0;}
.title_blue strong{font-weight:bold;margin-left:25px;}
select,input{border:1px solid #A4BED4;}
.neirong select{width:180px;height:22px;}
.neirong ul{margin-left:10px;}
.neirong li{height:32px;}
.neirong{overflow-y:scroll;}
.jbxx_left,.jbxx_right{width:120px;height:auto;color:#003476;font-size:13px;float:left;}
.jbxx_left_input{width:180px;height:auto;float:left;font-size:13px;}
.jbxx_right_input{width:180px;height:auto;float:left;font-size:13px;}
.jbxx_right{padding-left:20px;}
/*以下li代码不能往前放*/
.gong_neng{width:140px;height:598px;background-color:#E7F3FF;position:fixed;top:5px;right:-30px;z-index:100;}
.gong_img{width:30px;height:598px;position:fixed;top:0px;right:-1px;z-index:100;}
.gong_neng li{text-align:center;height:50px;background:url(../images/bt_public.png) no-repeat center center;color:#fff;font-size:14px;font-weight:bold;line-height:48px;cursor:pointer;}
.title_gn{height:25px;background-color:#9FCEFE;color:#003476;font-size:14px;font-weight:bold;line-height:22px;margin:0 0 10px 0;text-align:center;}
.gong_neng li:hover{background:url(../images/bt_hover_public.png) no-repeat center center;}
/*------*/
.yxbd_input input{width:250px;height:auto;float:left;font-size:13px;}
.zxbd{width:100px;height:auto;color:#003476;font-size:13px;float:left;}
.red_letter{color:#AC001C;font-weight:bold;cursor:pointer;}
.zxbd_right input{width:173px;height:auto;margin-left:18px;float:left;font-size:13px;}
.radio_input input{width:20px;}
.radio_input span{display:inline-block;font-size:13px;color:#666;}
.btn_checkHistory{display:inline-block;width:162px;height:32px;background:url(../images/btn_checkHistory.png) no-repeat;margin-left:65px;}
.btn_checkHistory:hover{display:inline-block;width:162px;height:32px;background:url(../images/btn_checkHistory_hover.png) no-repeat;margin-left:65px;}
.btn_phoneCheckHistory{display:inline-block;width:178px;height:32px;background:url(../images/btn_phoneCheckHistory.png) no-repeat;margin-left:65px;}
.btn_phoneCheckHistory:hover{display:inline-block;width:178px;height:32px;background:url(../images/btn_phoneCheckHistory_hover.png) no-repeat;margin-left:65px;}
.btn_finalCheckHistory{display:inline-block;width:178px;height:32px;background:url(../images/btn_finalCheckHistory.png) no-repeat;margin-left:65px;}
.btn_finalCheckHistory:hover{display:inline-block;width:178px;height:32px;background:url(../images/btn_finalCheckHistory_hover.png) no-repeat;margin-left:65px;}
.btn_autoGet{display:inline-block;width:111px;height:32px;background:url(../images/btn_autoGet.png) no-repeat;margin-left:65px;}
.btn_cancleAutoGet{display:inline-block;width:111px;height:32px;background:url(../images/btn_cancleAutoGet.png) no-repeat;margin-left:65px;}
.btn_vipApp{display:inline-block;width:118px;height:32px;background:url(../images/btn_vipApp.png) no-repeat;margin-left:65px;}
.btn_cancleVipApp{display:inline-block;width:118px;height:32px;background:url(../images/btn_cancleVipApp.png) no-repeat;}
.btn_reaffirm{display:inline-block;width:118px;height:32px;background:url(../images/reaffirm_hover.png) no-repeat;margin-left:65px;}
.btn_cancelReaffirm{display:inline-block;width:118px;height:32px;background:url(../images/reaffirm.png) no-repeat;margin-left:65px;}
.btn_back{display:inline-block;width:118px;height:32px;background:url(../images/back_review_hover.png) no-repeat;margin-left:65px;}
.btn_cancelBack{display:inline-block;width:118px;height:32px;background:url(../images/back_review.png) no-repeat;margin-left:65px;}
::-ms-clear,::-ms-reveal{display:none;}