@charset "utf-8";
body{padding:0;margin:0;font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;}
.box{width:820px;height:500px;margin:0 auto;position:relative;top:200px;display:none;z-index:1002;overflow:auto;}
.bg{display:none;position:absolute;top:0%;left:0%;width:100%;height:100%;background-color:#fff;z-index:1001;-moz-opacity:0.7;opacity:.70;filter:alpha(opacity = 70);}
textarea{overflow:hidden;border:none;}
table{border-collapse:collapse;border-spacing:0px;border:none;}
tr,td{border:none;padding:0px;margin:0px;}
.topleft{width:7px;height:29px;background:url(../images/top_left.png) no-repeat;}
.topmidle{height:29px;background:url(../images/top_midle.png) repeat-x;}
.topright{width:7px;height:29px;background:url(../images/top_right.png) no-repeat;}
#tu{display:inline-block;width:20px;height:20px;background:url(../images/top_icon.png) no-repeat;margin-left:10px;}
.titles{color:#FFF;letter-spacing:3px;position:relative;top:-5px;}
.midleleft{width:7px;background:url(../images/midle_left.png) repeat-y;}
.midleright{width:7px;background:url(../images/midle_right.png) repeat-y;}
.bottomleft{width:7px;height:8px;background:url(../images/bottom_left.png) no-repeat;}
.bottommidle{height:8px;background:url(../images/bottom_midle.png) repeat-x;}
.bottomright{width:7px;height:8px;background:url(../images/bottom_right.png) no-repeat;}
.xuanze{width:490px;height:92px;color:#003476;line-height:92px;letter-spacing:1px;margin:0 auto;}
.xuanze select{width:290px;height:31px;border:1px solid #A4BED4;}
.sure{width:100%;height:109px;color:#003476;line-height:92px;background-color:#CAE4FE;border-top:1px solid #ABD4F0;position:absolute;bottom:0px;}
.sure button{width:108px;height:33px;border:none;color:#fff;line-height:5px;background:url(../images/bt_public.png) no-repeat;position:absolute;cursor:pointer;top:50%;left:50%;margin-left:-54px;margin-top:-17px;}