<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.pengyuan.mapper.PyPcrCrsCrtPbiAisMapper">

	<insert id="savePyPcrCrsCrtPbiAis"  parameterType="com.huaxia.cams.modules.pengyuan.domain.PyPcrCrsCrtPbiAis">
		INSERT INTO PY_PCR_CRS_CRT_PBI_AIS(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			ADDRESS,
			TEL,
			MOBILE,
			INFO_UNIT,
			INFO_DATE,
			APP_ID
		) VALUES(
			sys_guid(),
			sysdate,
			#{crtUser},
			#{trnId},
			#{address},
			#{tel},
			#{mobile},
			#{infoUnit},
			#{infoDate},
			#{appId}
		)
	</insert>
	
</mapper>