<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.pengyuan.mapper.PyPcrCrsCrtBdiLisPl24mMapper">

	<insert id="savePyPcrCrsCrtBdiLisPl24m"  parameterType="com.huaxia.cams.modules.pengyuan.domain.PyPcrCrsCrtBdiLisPl24m">
		INSERT INTO PY_PCR_CRS_CRT_BDI_LIS_PL24M(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			FIRST_MONTH,
			LAST_MONTH,
			LIMIT_VALUES,
			APP_ID
		) VALUES(
			sys_guid(),
			sysdate,
			#{crtUser},
			#{trnId},
			#{firstMonth},
			#{lastMonth},
			#{limitValues},
			#{appId}
		)
	</insert>
	
</mapper>