<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.pengyuan.mapper.PyPcrCrsMapper">

	<insert id="savePyPcrCrs"  parameterType="com.huaxia.cams.modules.pengyuan.domain.PyPcrCrs">
		INSERT INTO PY_PCR_CRS(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			BATH_NO,
			UNIT_NAME,
			SUB_ORGAN,
			QUERY_USER_ID,
			QUERY_COUNT,
			RECEIVE_TIME,
			APP_ID
		) VALUES(
			sys_guid(),
			sysdate,
			#{crtUser},
			#{trnId},
			#{batchNo},
			#{unitName},
			#{subOrgan},
			#{queryUserId},
			#{queryCount},
			#{receiveTime},
			#{appId}
		)
	</insert>
	
</mapper>