<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.pengyuan.mapper.PyPcrCrsCrtPbiDisMapper">

	<insert id="savePyPcrCrsCrtPbiDis"  parameterType="com.huaxia.cams.modules.pengyuan.domain.PyPcrCrsCrtPbiDis">
		INSERT INTO PY_PCR_CRS_CRT_PBI_DIS(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			NAME,
			DOCUMENT_NO,
			DOCUMENT_TYPE,
			COUNTRY,
			INFO_DATE,
			APP_ID
		) VALUES(
			sys_guid(),
			sysdate,
			#{crtUser},
			#{trnId},
			#{name},
			#{documentNo},
			#{documentType},
			#{country},
			#{infoDate},
			#{appId}
		)
	</insert>
	
</mapper>