<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.pengyuan.mapper.PyPcrTenRequestMapper">

	<insert id="savePyPcrTenRequest"  parameterType="com.huaxia.cams.modules.pengyuan.domain.PyPcrTenRequest">
		INSERT INTO PY_PCR_TRN_REQUEST(
			UUID,
			CRT_TIME,
			CRT_USER,
			TRN_ID,
			REQUEST_CHANNEL,
			QUERY_MODE,
			CERT_NO,
			NAME,
			APP_ID
		) VALUES(
			sys_guid(),
			sysdate,
			#{crtUser},
			#{trnId},
			#{requestChannel},
			#{queryMode},
			#{certNo},
			#{name},
			#{appId}
		)
	</insert>
	
</mapper>