.page-header {
	position: fixed;
	top: 8px;
	right: 120px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	z-index: 999999999999;
	color: White;
	height: 150px;
}

.btn_bg {
	background-image: url("/opas/images/infoupdate_bg.png");
	width: 145px;
	height: 33px;
	border: 0px;
	color: white;
	margin-left: -45px;
}

.btn_bg_suspend {
	width: 145px;
	height: 30px;
	margin-left: 0px;
	margin-top:25px;
	border: 1px solid #cccccc;
	color: #ffffff;
	background: #0;
}

.btn_bg_suspend2 {
	width: 30px;
	height: 30px;
	margin-left: -45px;
	color: #ffffff;
	background: #0;
}

.font_btn {
	color: #ccc;
	font-size: 19px;
}

#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10 {
	display: block;
	background-color:;
	color: #fff;
	font-size: 12px;
	width: 100%;
	height: 100%;
	text-align: center;
}

#a1:hover {
	background-color: #05377D
}

#a2:hover {
	background-color: #05377D
}

#a3:hover {
	background-color: #05377D
}

#a4:hover {
	background-color: #05377D
}

#a5:hover {
	background-color: #05377D
}

#a6:hover {
	background-color: #05377D
}

#a7:hover {
	background-color: #05377D
}

#a8:hover {
	background-color: #05377D
}

#a9:hover {
	background-color: #05377D
}

#a10:hover {
	background-color: #05377D
}

<!--
设置table样式和内容字体 -->table,select,input {
	font-size: 13px;
	font-family: "Microsoft YaHei" ! important;
	border: 1px dashed #3078B4;
}

table th {
	font-size: 16px;
	background: #3078B4;
	color: white;
}

table {
	border: 1px dashed #3078B4;
	width: 680px;
}

td {
	font-size: 13px;
}

p {
	clear: both;
	margin: 0;
	padding: .5em 0;
}
/* tooltip */
#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 1px;
	color: #333;
	display: none;
}
