<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLCertDetailMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLCertDetail">
		INSERT INTO AML_CERT_DETAIL (
			ID,LOC,TYPE,NO
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{loc, jdbcType = VARCHAR},
			#{type, jdbcType = VARCHAR},
			#{no, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>