<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLDobsDetailMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLDobsDetail">
		INSERT INTO AML_DOBS_DETAIL (
			ID,DOBS
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{dobs, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>