<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLForeignNameDetailMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLForeignNameDetail">
		INSERT INTO AML_FOREIGN_NAME_DETAIL (
			ID,LANGUAGE_TYPE,FOREIGN_ALIAS_NAME
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{languageType, jdbcType = VARCHAR},
			#{foreignAliasName, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>