<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLInfoUseAreaMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLInfoUseArea">
		INSERT INTO AML_INFO_USEAREA (
			ID,COUNTRY,CITY,STATE
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{country, jdbcType = VARCHAR},
			#{city, jdbcType = VARCHAR},
			#{state, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>