<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLImageUrlMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLImageUrl">
		INSERT INTO AML_IMAGE_URL (
			ID,URL
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{url, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>