<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLLowQualityMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLLowQuality">
		INSERT INTO AML_LOW_QUALITY (
			ID,LOW_QUALITY_ALIASES
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{lowQualityAliases, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>