<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLPassportsInfoMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLPassportsInfo">
		INSERT INTO AML_PASSPORTS_INFO (
			ID,COUNTRY,PASSPORTS_NO
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{country, jdbcType = VARCHAR},
			#{passportsNo, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>