<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.AMLRecordIndexMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.AMLRecordIndex">
		INSERT INTO AML_RECORD_INDEX (
			ID,EI,CATEGORY,UPDATECATEGORY,SUB_CATEGORY,UPDATED,POSITION,TITLE,PLACE_OF_BIRTH,DOB,DECEASED,COUNTRIES,
			FIRST_NAME,LAST_NAME,ENTERED,IMPDATESTR
		) VALUES (
			#{id, jdbcType = VARCHAR},
			#{ei, jdbcType = VARCHAR},
			#{category, jdbcType = VARCHAR},
			#{updateCategory, jdbcType = VARCHAR},
			#{subCategory, jdbcType = VARCHAR},
			#{updated, jdbcType = VARCHAR},
			#{position, jdbcType = VARCHAR},
			#{title, jdbcType = VARCHAR},
			#{placeOfBirth, jdbcType = VARCHAR},
			#{bob, jdbcType = VARCHAR},
			#{deceased, jdbcType = VARCHAR},
			#{countries, jdbcType = VARCHAR},
			#{firstName, jdbcType = VARCHAR},
			#{lastName, jdbcType = VARCHAR},
			#{entered, jdbcType = VARCHAR},
			#{impDateStr, jdbcType = VARCHAR}
		)
	</insert>
	
</mapper>