<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.BRZXLocationMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.BRZXLocation">
		INSERT INTO OPAS_BIZ_LOCATION_DATA (
			LOCATION_BIZ_ADDR1, LOCATION_BIZ_ADDR2, LOCATION_BIZ_ADDR3, LOCATION_BIZ_ADDR4, 
			LOCATION_BIZ_ADDR5, LOCATION_HOME_ADDR1, LOCATION_HOME_ADDR2, LOCATION_HOME_ADDR3, 
			LOCATION_HOME_ADDR4, LOCATION_HOME_ADDR5, LOCATION_PER_ADDR1, LOCATION_PER_ADDR2, 
			LOCATION_PER_ADDR3, LOCATION_PER_ADDR4, LOCATION_PER_ADDR5, LOCATION_APPLY_ADDR1, 
			LOCATION_APPLY_ADDR2, LOCATION_APPLY_ADDR3, LOCATION_APPLY_ADDR4, LOCATION_APPLY_ADDR5, 
			LOCATION_OTH_ADDR1, LOCATION_OTH_ADDR2, LOCATION_OTH_ADDR3, LOCATION_OTH_ADDR4, 
			LOCATION_OTH_ADDR5, APP_ID, IDENTITYCARD, CELL, NAME,SWIFT_NUMBER, 
			CRT_TIME, CRT_USER
		) VALUES (
			#{locationBizAddr1, jdbcType = VARCHAR},
			#{locationBizAddr2, jdbcType = VARCHAR},
			#{locationBizAddr3, jdbcType = VARCHAR},
			#{locationBizAddr4, jdbcType = VARCHAR},
			#{locationBizAddr5, jdbcType = VARCHAR},
			#{locationHomeAddr1, jdbcType = VARCHAR},
			#{locationHomeAddr2, jdbcType = VARCHAR},
			#{locationHomeAddr3, jdbcType = VARCHAR},
			#{locationHomeAddr4, jdbcType = VARCHAR},
			#{locationHomeAddr5, jdbcType = VARCHAR},
			#{locationPerAddr1, jdbcType = VARCHAR},
			#{locationPerAddr2, jdbcType = VARCHAR},
			#{locationPerAddr3, jdbcType = VARCHAR},
			#{locationPerAddr4, jdbcType = VARCHAR},
			#{locationPerAddr5, jdbcType = VARCHAR},
			#{locationApplyAddr1, jdbcType = VARCHAR},
			#{locationApplyAddr2, jdbcType = VARCHAR},
			#{locationApplyAddr3, jdbcType = VARCHAR},
			#{locationApplyAddr4, jdbcType = VARCHAR},
			#{locationApplyAddr5, jdbcType = VARCHAR},
			#{locationOthAddr1, jdbcType = VARCHAR},
			#{locationOthAddr2, jdbcType = VARCHAR},
			#{locationOthAddr3, jdbcType = VARCHAR},
			#{locationOthAddr4, jdbcType = VARCHAR},
			#{locationOthAddr5, jdbcType = VARCHAR},
			#{appId, jdbcType = CHAR},
			#{identityCard, jdbcType = VARCHAR},
			#{cell, jdbcType = VARCHAR},
			#{name, jdbcType = VARCHAR},
			#{swiftNumber, jdbcType = VARCHAR},
			SYSDATE,
			'SYSTEM'
		)
	</insert>

</mapper>