<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.CRMSpIfsCustInfoMapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.CRMSpIfsCustInfo">
		INSERT INTO SP_APS_IFS_CUST_INFO (
			APP_ID,CUSTID,CUSTCODE,MGCUSTCODE,CUSTNAME,SEX,AGE,CERTTYPE,CERTNO,CERTNONEW,VALIDAT,MOBILEPHONE,PHONE,
			HOMEPHONE,BUSPHONE,OPENDATE,MARRIEDSTATUS,EDUCATIONSTATUS,HOMEADDR,HOMEPOSTCODE,ADDR,OPOSTCODE,BUSADDR,
			BUSPOSTCODE,FAX,EMAILADDR,PREINVST,BLOODTYPE,RELBELIEF,CONTTIME,BORNDATE,LUNARCAL,NATION,COUNTRY,ORIGINPLACE,
			BRANCH,SUBBRANCH,ISEMP,SATIS,COMPANY,WORKPOST,PROFESSION,DUTIE,COMPNAT,INDTYPE,YEARINCOME,WORKAGE,CUSTMAN,
			STATUS,IS_DISTURB,IS_CREDIT_CARD,D_DATE
		) VALUES (
			#{appId, jdbcType = CHAR},
			#{custId, jdbcType = VARCHAR},
			#{custCode, jdbcType = VARCHAR},
			#{mgCustCode, jdbcType = VARCHAR},
			#{custName, jdbcType = VARCHAR},
			#{sex, jdbcType = VARCHAR},
			#{age, jdbcType = INTEGER},
			#{certType, jdbcType = VARCHAR},
			#{certNo, jdbcType = VARCHAR},
			#{certNoNew, jdbcType = VARCHAR},
			TO_DATE(#{validat, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{mobilePhone, jdbcType = VARCHAR},
			#{phone, jdbcType = VARCHAR},
			#{homePhone, jdbcType = VARCHAR},
			#{busPhone, jdbcType = NUMERIC},
			TO_DATE(#{item.openDate, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{marriedStatus, jdbcType = VARCHAR},
			#{educationStatus, jdbcType = VARCHAR},
			#{homeAddr, jdbcType = VARCHAR},
			#{homePostCode, jdbcType = VARCHAR},
			#{addr, jdbcType = VARCHAR},
			#{postCode, jdbcType = VARCHAR},
			#{busAddr, jdbcType = VARCHAR},
			#{busPostCode, jdbcType = VARCHAR},
			#{fax, jdbcType = VARCHAR},
			#{emailAddr, jdbcType = VARCHAR},
			#{preinvst, jdbcType = VARCHAR},
			#{bloodType, jdbcType = VARCHAR},
			#{relBelief, jdbcType = VARCHAR},
			#{contTime, jdbcType = VARCHAR},
			#{bornDate, jdbcType = VARCHAR},
			TO_DATE(#{item.lunarcal, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{nation, jdbcType = VARCHAR},
			#{country, jdbcType = VARCHAR},
			#{originPlace, jdbcType = VARCHAR},
			#{branch, jdbcType = VARCHAR},
			#{subBranch, jdbcType = VARCHAR},
			#{isEmp, jdbcType = VARCHAR},
			#{satis, jdbcType = VARCHAR},
			#{company, jdbcType = VARCHAR},
			#{workPost, jdbcType = VARCHAR},
			#{profession, jdbcType = VARCHAR},
			#{dutie, jdbcType = VARCHAR},
			#{compant, jdbcType = VARCHAR},
			#{indType, jdbcType = VARCHAR},
			#{yearIncome, jdbcType = VARCHAR},
			TO_DATE(#{item.workAge, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{custMan, jdbcType = VARCHAR},
			#{status, jdbcType = VARCHAR},
			#{isDisturb, jdbcType = VARCHAR},
			#{isCreditCard, jdbcType = VARCHAR},
			#{dDate, jdbcType = VARCHAR}
		)
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.Map">
		INSERT INTO SP_APS_IFS_CUST_INFO (
			APP_ID,CUSTID,CUSTCODE,MGCUSTCODE,CUSTNAME,SEX,AGE,CERTTYPE,CERTNO,CERTNONEW,VALIDAT,MOBILEPHONE,PHONE,
			HOMEPHONE,BUSPHONE,OPENDATE,MARRIEDSTATUS,EDUCATIONSTATUS,HOMEADDR,HOMEPOSTCODE,ADDR,OPOSTCODE,BUSADDR,
			BUSPOSTCODE,FAX,EMAILADDR,PREINVST,BLOODTYPE,RELBELIEF,CONTTIME,BORNDATE,LUNARCAL,NATION,COUNTRY,ORIGINPLACE,
			BRANCH,SUBBRANCH,ISEMP,SATIS,COMPANY,WORKPOST,PROFESSION,DUTIE,COMPNAT,INDTYPE,YEARINCOME,WORKAGE,CUSTMAN,
			STATUS,IS_DISTURB,IS_CREDIT_CARD,D_DATE
		)
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
	    SELECT
			#{item.appId, jdbcType = CHAR},
			#{item.custId, jdbcType = VARCHAR},
			#{item.custCode, jdbcType = VARCHAR},
			#{item.mgCustCode, jdbcType = VARCHAR},
			#{item.custName, jdbcType = VARCHAR},
			#{item.sex, jdbcType = VARCHAR},
			#{item.age, jdbcType = INTEGER},
			#{item.certType, jdbcType = VARCHAR},
			#{item.certNo, jdbcType = VARCHAR},
			#{item.certNoNew, jdbcType = VARCHAR},
			TO_DATE(#{item.validat, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{item.mobilePhone, jdbcType = VARCHAR},
			#{item.phone, jdbcType = VARCHAR},
			#{item.homePhone, jdbcType = VARCHAR},
			#{item.busPhone, jdbcType = NUMERIC},
			TO_DATE(#{item.openDate, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{item.marriedStatus, jdbcType = VARCHAR},
			#{item.educationStatus, jdbcType = VARCHAR},
			#{item.homeAddr, jdbcType = VARCHAR},
			#{item.homePostCode, jdbcType = VARCHAR},
			#{item.addr, jdbcType = VARCHAR},
			#{item.postCode, jdbcType = VARCHAR},
			#{item.busAddr, jdbcType = VARCHAR},
			#{item.busPostCode, jdbcType = VARCHAR},
			#{item.fax, jdbcType = VARCHAR},
			#{item.emailAddr, jdbcType = VARCHAR},
			#{item.preinvst, jdbcType = VARCHAR},
			#{item.bloodType, jdbcType = VARCHAR},
			#{item.relBelief, jdbcType = VARCHAR},
			#{item.contTime, jdbcType = VARCHAR},
			#{item.bornDate, jdbcType = VARCHAR},
			TO_DATE(#{item.lunarcal, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{item.nation, jdbcType = VARCHAR},
			#{item.country, jdbcType = VARCHAR},
			#{item.originPlace, jdbcType = VARCHAR},
			#{item.branch, jdbcType = VARCHAR},
			#{item.subBranch, jdbcType = VARCHAR},
			#{item.isEmp, jdbcType = VARCHAR},
			#{item.satis, jdbcType = VARCHAR},
			#{item.company, jdbcType = VARCHAR},
			#{item.workPost, jdbcType = VARCHAR},
			#{item.profession, jdbcType = VARCHAR},
			#{item.dutie, jdbcType = VARCHAR},
			#{item.compant, jdbcType = VARCHAR},
			#{item.indType, jdbcType = VARCHAR},
			#{item.yearIncome, jdbcType = VARCHAR},
			TO_DATE(#{item.workAge, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS'),
			#{item.custMan, jdbcType = VARCHAR},
			#{item.status, jdbcType = VARCHAR},
			#{item.isDisturb, jdbcType = VARCHAR},
			#{item.isCreditCard, jdbcType = VARCHAR},
			TO_DATE(#{item.dDate, jdbcType = DATE}, 'YYYY-MM-DD HH24:MI:SS')
		FROM DUAL
		</foreach>
	</insert>

</mapper>	