<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.PBOCAdminAwardMapper">

	<insert id="insertBatch" parameterType="java.util.Map">
		INSERT INTO OPAS_PBOC_PUBLIC_ADMINAWARD (
			APP_ID,REWARD_ORG,REWARD_CONTENT,EFFECT_DATE,END_DATE,
			CRT_TIME,CRT_USER
		)
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
	    SELECT
			#{item.appId},
			#{item.organname},
			#{item.content},
			#{item.beginDate},
			#{item.endDate},
			SYSDATE,
			'SYSTEM'
		FROM DUAL
		</foreach>
	</insert>

</mapper>