<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.PBOCAssurerRepayInfoMapper">

	
	<insert id="insertBatch" parameterType="java.util.Map">
		INSERT INTO  OPAS_PBOC_ASSURERREPAY ( 
		APP_ID, ERAPAY_ORG, LATEST_ERAPAY_DATE, 
        CUMUL_ERAPAY_AMT, LATEST_PAYMENT_DATE, BALANCE, 
        CRT_USER, LST_UPD_TIME, LST_UPD_USER, 
        BATCH_DATE, CRT_TIME)
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
	    SELECT
	     #{item.appId,jdbcType=CHAR}, #{item.organname,jdbcType=VARCHAR}, #{item.latestAssurerRepayDate,jdbcType=VARCHAR}, 
         #{item.money,jdbcType=VARCHAR}, #{item.latestRepayDate,jdbcType=VARCHAR}, #{item.balance,jdbcType=VARCHAR}, 
         'SYSTEM',SYSDATE,'SYSTEM', 
         SYSDATE,SYSDATE
		FROM DUAL
		</foreach>
	</insert>

</mapper>