<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.QHZXMsc8007Mapper">

	<insert id="insert" parameterType="com.huaxia.opas.domain.QHZXMsc8007">
		INSERT INTO QHZX_QUERY_MSC8007 (
			APP_ID,CRT_TIME,CRT_USER,
			OEG_CODE,CHNL_ID,TRANS_NO,TRANS_DATE,AUTH_CODE,AUTH_DATE,RT_CODE,RT_MSG,BATCH_NO,
			ID_NO,ID_TYPE,NAME,SEQ_NO,MOBILE_NO,ADDRESS,SOURCE_ID,PROVINCE,CITY_INFO,BOROUGH,FMT_ADDRESS,LONGITUDE,
			LATITUDE,BUILDING_NAME,BUILDING_ADDRESS,HOUSE_AROD_AVG_PRICE,HOUSE_AVG_PRICE,STATE,BUILD_TYPE,
			DATA_BUILD_TIME,IS_MATCH,ADDRESS_PORPERTY,ER_CODE,ER_MSG,SIGNATURE_VALUE,REASON_NO
		) VALUES (
			#{appId, jdbcType = CHAR},
			SYSDATE,
			'SYSTEM',
			#{orgCode, jdbcType = VARCHAR},
			#{chnlId, jdbcType = VARCHAR},
			#{transNo, jdbcType = VARCHAR},
			#{transDate, jdbcType = VARCHAR},
			#{authCode, jdbcType = VARCHAR},
			#{authDate, jdbcType = VARCHAR},
			#{rtCode, jdbcType = VARCHAR},
			#{rtMsg, jdbcType = VARCHAR},
			#{batchNo, jdbcType = VARCHAR},
			#{idNo, jdbcType = VARCHAR},
			#{idType, jdbcType = VARCHAR},
			#{name, jdbcType = VARCHAR},
			#{seqNo, jdbcType = VARCHAR},
			#{mobileNo, jdbcType = VARCHAR},
			#{address, jdbcType = VARCHAR},
			#{sourceId, jdbcType = VARCHAR},
			#{province, jdbcType = VARCHAR},
			#{cityInfo, jdbcType = VARCHAR},
			#{borough, jdbcType = VARCHAR},
			#{fmtAddress, jdbcType = VARCHAR},
			#{longitude, jdbcType = VARCHAR},
			#{latitude, jdbcType = VARCHAR},
			#{buildingName, jdbcType = VARCHAR},
			#{buildingAddress, jdbcType = VARCHAR},
			#{houseArodAvgPrice, jdbcType = VARCHAR},
			#{houseAvgPrice, jdbcType = VARCHAR},
			#{state, jdbcType = VARCHAR},
			#{buildingType, jdbcType = VARCHAR},
			#{dataBuildTime, jdbcType = VARCHAR},
			#{isMatch, jdbcType = VARCHAR},
			#{addressPorperty, jdbcType = VARCHAR},
			#{erCode, jdbcType = VARCHAR},
			#{erMsg, jdbcType = VARCHAR},
			#{signatureValue, jdbcType = VARCHAR},
			#{reasonNo, jdbcType = CHAR}
		)
	</insert>

	<select id="selectCountMsc8007ByAppId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM QHZX_QUERY_MSC8007 WHERE APP_ID = #{appId, jdbcType = CHAR}
	</select>
	
</mapper>	