.icon-custom{background-image:url('/opas-topui/topui/easyui/default/theme/default/images/validatebox_warning.png');}
.icon-okright{background-image:url('/opas-topui/topui/easyui/default/theme/icons/ok.png');}
.icon-occupancy{background-image:url('/opas-topui/topui/easyui/default/theme/icons/occupancy.png');}