<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.ui.system.mapper.PasswordDetailMapper">

	<select id="selectCountByPwdDetail" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM SYS_PWD_DETAIL 
		 WHERE USER_ACCT = #{account,jdbcType=VARCHAR} 
		   AND USER_PASS = #{password,jdbcType=VARCHAR}
	</select>

	<insert id="insertObject" parameterType="PasswordDetail">
		INSERT INTO SYS_PWD_DETAIL (
		    UUID,CRT_TIME,CRT_USER,USER_ACCT,USER_PASS
		) VALUES (
			#{uuid,jdbcType=CHAR},SYSDATE,'system',#{account,jdbcType=CHAR},#{password,jdbcType=VARCHAR}
		)
	</insert>
	
</mapper>