<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.cams.modules.jianbing.mapper.JianBingMapper">

	<select id="selectApplyId" parameterType="string" resultType="string">
     SELECT C4_BUEMB FROM OPAS_BIZ_INP_APPL_C1 WHERE APP_ID= #{appId} 
	</select>
</mapper>