<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.ui.unicom.mapper.PhoneQueryMapper">

	<select id="selectCountByParams" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT '00110000' TASK_TYPE, COUNT(1) TASK_COUNT
		FROM
		UNICOM_PHONE_TRN_SINGLE
		WHERE query_status = '1'
		<if test="startTime != null and endTime != null">
			AND CRT_TIME BETWEEN TO_DATE(#{startTime}||'00:00:00',
			'YYYY-MM-DD
			HH24:MI:SS')
			AND TO_DATE(#{endTime}||'23:59:59',
			'YYYY-MM-DD HH24:MI:SS')
		</if>
		UNION
		SELECT '00110001' TASK_TYPE, COUNT(1) TASK_COUNT
		FROM
		UNICOM_PHONE_TRN_BATCH_DETAIL
		WHERE query_status = '1'
		<if test="startTime != null and endTime != null">
			AND CRT_TIME BETWEEN TO_DATE(#{startTime}||'00:00:00',
			'YYYY-MM-DD
			HH24:MI:SS')
			AND TO_DATE(#{endTime}||'23:59:59',
			'YYYY-MM-DD HH24:MI:SS')
		</if>
		UNION
		SELECT '00110010' TASK_TYPE, (SELECT COUNT(*) FROM
		unicom_phone_data WHERE
		TRN_ID IN (
		SELECT TRN_ID FROM
		unicom_phone_trn_request WHERE REQUEST_CHANNEL = 'CAMS'
		<if test="startTime != null and endTime != null">
			AND CRT_TIME BETWEEN TO_DATE(#{startTime}||'00:00:00',
			'YYYY-MM-DD
			HH24:MI:SS')
			AND TO_DATE(#{endTime}||'23:59:59',
			'YYYY-MM-DD HH24:MI:SS')
		</if>
		)) TASK_COUNT
		FROM DUAL where 1 =1
		UNION
		SELECT '00110011' TASK_TYPE,
		(SELECT COUNT(*) FROM unicom_phone_data WHERE
		TRN_ID IN (
		SELECT TRN_ID
		FROM unicom_phone_trn_request WHERE REQUEST_CHANNEL =
		'WANGSHEN'
		<if test="startTime != null and endTime != null">
			AND CRT_TIME BETWEEN TO_DATE(#{startTime}||'00:00:00',
			'YYYY-MM-DD
			HH24:MI:SS')
			AND TO_DATE(#{endTime}||'23:59:59',
			'YYYY-MM-DD HH24:MI:SS')
		</if>
		)) TASK_COUNT
		FROM DUAL where 1 =1
	</select>
	<select id="selectQueryResultBySource" parameterType="java.util.Map"
		statementType="CALLABLE">
		<![CDATA[
		        {CALL ds_unicom_001100_count(#{source_code_num,mode=IN,jdbcType=VARCHAR},
		        #{channel_code_num,mode=IN,jdbcType=VARCHAR},
		        #{v_set,mode=OUT,jdbcType=VARCHAR},
		        #{end_num,mode=OUT,jdbcType=VARCHAR})}
		]]>
	</select>
</mapper>