<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>opas-naps</display-name>
  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>resourceFilter</filter-name>
    <filter-class>com.huateng.neofp.channel.http.ResourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>resourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.huaxia.opas.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		classpath:config/naps-*.xml,
		classpath:config/dubbo-*.xml,
		classpath:config/quartz-timer.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>PolicePhoto</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.PolicePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PolicePhoto</servlet-name>
    <url-pattern>/PolicePhoto.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EducationPhotoPathServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.EducationPhotoPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationPhotoPathServlet</servlet-name>
    <url-pattern>/EducationPhotoPathServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SmartUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.SmartUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmartUpladServlet</servlet-name>
    <url-pattern>/SmartUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PromoterUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.PromoterUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoterUploadServlet</servlet-name>
    <url-pattern>/PromoterUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkloadDetailDownLoadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.WorkloadDetailDownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkloadDetailDownLoadServlet</servlet-name>
    <url-pattern>/common/WorkloadDetailDownLoadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubreportDownLoadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.report.SubreportDownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubreportDownLoadServlet</servlet-name>
    <url-pattern>/report/SubreportDownLoadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppArActionDownLoadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.archive.SuppArActionDownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppArActionDownLoadServlet</servlet-name>
    <url-pattern>/archive/SuppArActionDownLoadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VvipListServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.VvipListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VvipListServlet</servlet-name>
    <url-pattern>/VvipListServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MBASchoolUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.MBASchoolUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MBASchoolUploadServlet</servlet-name>
    <url-pattern>/MBASchoolUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeamNameUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.TeamNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamNameUploadServlet</servlet-name>
    <url-pattern>/TeamNameUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SameIndustryRiskUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.SameIndustryRiskUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SameIndustryRiskUploadServlet</servlet-name>
    <url-pattern>/SameIndustryRiskUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreCreditParamUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.PreCreditParamUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreCreditParamUploadServlet</servlet-name>
    <url-pattern>/PreCreditParamUploadServlet.json</url-pattern>
  </servlet-mapping>
  <!-- PAD定位地址批量导入数据-wenyh -->
  <servlet>
    <servlet-name>PadLocationAddressUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.PadLocationAddressUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadLocationAddressUploadServlet</servlet-name>
    <url-pattern>/PadLocationAddressUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StockTelSaleUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.StockTelSaleUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockTelSaleUploadServlet</servlet-name>
    <url-pattern>/StockTelSaleUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpecialProjectUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.SpecialProjectUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialProjectUpladServlet</servlet-name>
    <url-pattern>/SpecialProjectUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddrRistUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.AddrRistUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddrRistUpladServlet</servlet-name>
    <url-pattern>/AddrRistUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyRiskUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.CompanyRiskUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyRiskUpladServlet</servlet-name>
    <url-pattern>/CompanyRiskUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MajorSchoolUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.MajorSchoolUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorSchoolUpladServlet</servlet-name>
    <url-pattern>/MajorSchoolUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TelRistUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.TelRistUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelRistUpladServlet</servlet-name>
    <url-pattern>/TelRistUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodCompanyUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.GoodCompanyUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodCompanyUpladServlet</servlet-name>
    <url-pattern>/GoodCompanyUpladServlet.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CompanyInfoUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.CompanyInfoUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyInfoUpladServlet</servlet-name>
    <url-pattern>/CompanyInfoUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.login.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileCheckServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.login.FileCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileCheckServlet</servlet-name>
    <url-pattern>/FileCheckServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TargetCompanyUpladServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.TargetCompanyUpladServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetCompanyUpladServlet</servlet-name>
    <url-pattern>/TargetCompanyUpladServlet.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterestRateDifferDetailListDownLoadServlet</servlet-name>
    <url-pattern>/report/InterestRateDifferDetailListDownLoadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterestRateDifferDetailListDownLoadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.report.InterestRateDifferDetailListDownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdentityRiskServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.IdentityRiskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityRiskServlet</servlet-name>
    <url-pattern>/IdentityRiskServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreditInfoServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.CreditInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditInfoServlet</servlet-name>
    <url-pattern>/CreditInfoServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreditTelcheckServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.CreditTelcheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditTelcheckServlet</servlet-name>
    <url-pattern>/CreditTelcheckServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InnerRiskInfoServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.InnerRiskInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InnerRiskInfoServlet</servlet-name>
    <url-pattern>/InnerRiskInfoServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeamdealServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.TeamdealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamdealServlet</servlet-name>
    <url-pattern>/TeamdealServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MerchTeamdealServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.MerchTeamdealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchTeamdealServlet</servlet-name>
    <url-pattern>/MerchTeamdealServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
      			classpath:config/dubbo-*.xml,
				classpath:config/naps-*.xml,
				classpath:config/action/*.xml,
				classpath:config/process/**/*.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BzkIncomeUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.BzkIncomeUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BzkIncomeUploadServlet</servlet-name>
    <url-pattern>/BzkIncomeUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YdjIncomeUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.YdjIncomeUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YdjIncomeUploadServlet</servlet-name>
    <url-pattern>/YdjIncomeUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplyExportServlet</servlet-name>
    <url-pattern>/ApplyExportServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyExportServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.apply.ApplyExportServlet</servlet-class>
  </servlet>
  <!-- 征信问题库上传 -->
  <servlet>
    <servlet-name>ConfQuestionUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ConfQuestionUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfQuestionUploadServlet</servlet-name>
    <url-pattern>/common/ConfQuestionUploadServlet.json</url-pattern>
  </servlet-mapping>
  <!-- 风险联系人上传 -->
  <servlet>
    <servlet-name>ApplyRiskInfoUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ApplyRiskInfoUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyRiskInfoUploadServlet</servlet-name>
    <url-pattern>/common/ApplyRiskInfoUploadServlet.json</url-pattern>
  </servlet-mapping>
  
     <!-- 自动拨号 -->
  <servlet>
    <servlet-name>autoMakeCall</servlet-name>
    <servlet-class>com.huaxia.opas.action.avaya.AvayaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autoMakeCall</servlet-name>
    <url-pattern>/mobile/call.json</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>ConfRosterLibraryUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ConfRosterLibraryUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfRosterLibraryUploadServlet</servlet-name>
    <url-pattern>/common/ConfRosterLibraryUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.BusinessUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessUploadServlet</servlet-name>
    <url-pattern>/common/BusinessUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PadHttpServer</display-name>
    <servlet-name>PadHttpServer</servlet-name>
    <servlet-class>com.huaxia.opas.action.pad.PadHttpServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadHttpServer</servlet-name>
    <url-pattern>/pad/PadHttpServer.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PadSetStausHttpServer</display-name>
    <servlet-name>PadSetStausHttpServer</servlet-name>
    <servlet-class>com.huaxia.opas.action.pad.PadSetStatusHttpServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadSetStausHttpServer</servlet-name>
    <url-pattern>/pad/PadSetStausHttpServer.json</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>PadPatchboltHttpServer</display-name>
    <servlet-name>PadPatchboltHttpServer</servlet-name>
    <servlet-class>com.huaxia.opas.action.pad.PadPatchboltHttpServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PadPatchboltHttpServer</servlet-name>
    <url-pattern>/pad/PadPatchboltHttpServer.json</url-pattern>
  </servlet-mapping>   
  <servlet>
    <servlet-name>QualityCheckingDownServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.QualityCheckingDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityCheckingDownServlet</servlet-name>
    <url-pattern>/common/QualityCheckingDownServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StockUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.StockUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockUploadServlet</servlet-name>
    <url-pattern>/common/StockUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfRosterLibraryUploadServlet1</display-name>
    <servlet-name>ConfRosterLibraryUploadServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ConfRosterLibraryUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfRosterLibraryUploadServlet1</servlet-name>
    <url-pattern>/ConfRosterLibraryUploadServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessUploadServlet1</display-name>
    <servlet-name>BusinessUploadServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.BusinessUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessUploadServlet1</servlet-name>
    <url-pattern>/BusinessUploadServlet1</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ConfQuestionUploadServlet1</display-name>
    <servlet-name>ConfQuestionUploadServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ConfQuestionUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfQuestionUploadServlet1</servlet-name>
    <url-pattern>/ConfQuestionUploadServlet1</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ApplyRiskInfoUploadServlet1</display-name>
    <servlet-name>ApplyRiskInfoUploadServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ApplyRiskInfoUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyRiskInfoUploadServlet1</servlet-name>
    <url-pattern>/common/ApplyRiskInfoUploadServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>MatchIdenityServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.MatchIdenityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchIdenityServlet</servlet-name>
    <url-pattern>/common/MatchIdenityServlet.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>MatchIdenityServlet1</display-name>
    <servlet-name>MatchIdenityServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.MatchIdenityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchIdenityServlet1</servlet-name>
    <url-pattern>/common/MatchIdenityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveZipcodeServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ApproveZipcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveZipcodeServlet</servlet-name>
    <url-pattern>/common/ApproveZipcodeServlet.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ApproveZipcodeServlet1</display-name>
    <servlet-name>ApproveZipcodeServlet1</servlet-name>
    <servlet-class>com.huaxia.opas.action.common.ApproveZipcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveZipcodeServlet1</servlet-name>
    <url-pattern>/common/ApproveZipcodeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CustomersIncomeUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.YdjCustomersIncomeUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersIncomeUploadServlet</servlet-name>
    <url-pattern>/ydjCustomersIncomeUploadServlet.json</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MarketerListUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.MarketerListUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketerListUploadServlet</servlet-name>
    <url-pattern>/MarketerListUploadServlet.json</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QRCodeListUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.QRCodeListUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QRCodeListUploadServlet</servlet-name>
    <url-pattern>/QRCodeListUploadServlet.json</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HospitalListUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.HospitalListUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalListUploadServlet</servlet-name>
    <url-pattern>/HospitalListUploadServlet.json</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>MarktQRCodeListUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.MarktQRCodeListUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarktQRCodeListUploadServlet</servlet-name>
    <url-pattern>/MarktQRCodeListUploadServlet.json</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>SmartVoiceServlet</display-name>
    <servlet-name>SmartVoiceServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.credit.SmartVoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmartVoiceServlet</servlet-name>
    <url-pattern>/action/credit/SmartVoiceServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcellentListUploadServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.ExcellentListUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcellentListUploadServlet</servlet-name>
    <url-pattern>/ExcellentListUploadServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadLowRiskCustomersServlet</servlet-name>
    <servlet-class>com.huaxia.opas.action.sysparm.UploadLowRiskCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadLowRiskCustomersServlet</servlet-name>
    <url-pattern>/UploadLowRiskCustomersServlet.json</url-pattern>
  </servlet-mapping>
</web-app>