BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #215581; HEIGHT: 100%; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
BODY {
	HEIGHT: 100%
}
HTML {
	HEIGHT: 100%
}
#container {
	MIN-WIDTH: 1024px; TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 99%; PADDING-TOP: 5px
}
#header {
	MIN-HEIGHT: 79px; WIDTH: 100%; BACKGROUND: url(../images/aa_07.gif) repeat-x
}
#bannera {
	WIDTH: 100%; BACKGROUND: url(../images/a_04.gif) no-repeat; FLOAT: left
}
#bannerb {
	WIDTH: 100%; FLOAT: left
}
.b_t {
	WIDTH: 490px; BACKGROUND: url(../images/b_06.gif) no-repeat; FLOAT: right; HEIGHT: 48px
}
.b_t LI {
	MARGIN: 16px 6px 4px 4px; FLOAT: right
}
.b_b {
	LINE-HEIGHT: 20px; HEIGHT: auto; CLEAR: both
}
.b_b4 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #ffffff; PADDING-TOP: 5px
}
.menu_blankwd {
	WIDTH: 340px; FLOAT: left
}
.b_b1 {
	WIDTH: 10px; BACKGROUND: url(../images/a_13.gif) no-repeat; FLOAT: left
}
.b_b2 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/a_14.gif) no-repeat; FLOAT: left; PADDING-TOP: 5px
}
.b_b3 {
	WIDTH: 10px; BACKGROUND: url(../images/a_15.gif) no-repeat; FLOAT: left
}
LI.b_b2 A:link {
	COLOR: #0e4271; TEXT-DECORATION: none
}
LI.b_b2 A:visited {
	COLOR: #0e4271; TEXT-DECORATION: none
}
LI.b_b2 A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
LI.b_b2 A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
#content {
	WIDTH: 100%; BACKGROUND: #a0c4e7; HEIGHT: 100%
}
#left {
	WIDTH: 201px; BACKGROUND: #a0c4e7; FLOAT: left; HEIGHT: 100%; PADDING-TOP: 2px
}
#ss {
	WIDTH: 201px; BACKGROUND: #a0c4e7; HEIGHT: 18px
}
.ss {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; MARGIN: 5px 5px 2px 11px; PADDING-LEFT: 18px; WIDTH: 185px; BACKGROUND: url(../images/a_22.gif) no-repeat; FLOAT: left; HEIGHT: 18px; COLOR: #ffffff; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#left_c1 {
	MARGIN-TOP: 5px; WIDTH: 190px; BACKGROUND: url(../images/a_26.gif) no-repeat; FLOAT: right; HEIGHT: 7px; OVERFLOW: hidden; MARGIN-RIGHT: 2px
}
#left_c2 {
	PADDING-BOTTOM: 40px; WIDTH: 190px; BACKGROUND: #cfe1f2; FLOAT: right; HEIGHT: 100%; MARGIN-RIGHT: 2px
}
#left_c3 {
	WIDTH: 190px; BACKGROUND: url(../images/a_115.gif); FLOAT: right; HEIGHT: 4px; MARGIN-RIGHT: 2px
}
#left_l {
	BORDER-LEFT: #e0ebf7 1px solid; WIDTH: 178px; BACKGROUND: url(../images/a_44.gif) repeat-x; HEIGHT: 22px; MARGIN-LEFT: 5px; BORDER-TOP: #e0ebf7 1px solid; BORDER-RIGHT: #e0ebf7 1px solid
}
.left_l {
	TEXT-ALIGN: left; WIDTH: 177px; BACKGROUND: url(../images/a_34.gif) no-repeat 20% 4px; HEIGHT: 22px
}
.left_l2 {
	TEXT-ALIGN: left; WIDTH: 177px; BACKGROUND: url(../images/a_48.gif) no-repeat 20% 4px; HEIGHT: 22px
}
.left_l LI A:link {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l LI A:visited {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l LI A:active {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l LI A:hover {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l2 LI A:link {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l2 LI A:visited {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l2 LI A:active {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_l2 LI A:hover {
	LINE-HEIGHT: 23px; PADDING-LEFT: 30%; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#tree {
	WIDTH: 190px; HEIGHT: 350px
}
#JT {
	WIDTH: 11px; BACKGROUND: #eaf1f6; FLOAT: left; HEIGHT: 479px; MARGIN-RIGHT: 10px
}
.JT1 {
	BACKGROUND: #cfe1f2; HEIGHT: 30px
}
.JT2 {
	BACKGROUND: url(../images/a_87.gif) no-repeat -1px center; HEIGHT: 479px
}
#right {
	WIDTH: auto; BACKGROUND: #eaf1f6; HEIGHT: 100%
}
#title {
	TEXT-ALIGN: left; LINE-HEIGHT: 32px; PADDING-LEFT: 11px; WIDTH: auto; BACKGROUND: #cfe1f2; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.t_c {
	WIDTH: auto; BACKGROUND: #eaf1f6; HEIGHT: 434px; PADDING-TOP: 15px
}
#bottom {
	PADDING-BOTTOM: 8px; WIDTH: 100%; HEIGHT: 42px
}
.bottom_a {
	WIDTH: 700px; BACKGROUND: url(../images/aa_119.gif) no-repeat; FLOAT: left; HEIGHT: 42px
}
.bottom_b {
	WIDTH: 182px; BACKGROUND: url(../images/aa_122.gif) no-repeat; FLOAT: left; HEIGHT: 42px
}
.bottom_c {
	WIDTH: 119px; BACKGROUND: url(../images/a_118.gif) no-repeat; FLOAT: right; HEIGHT: 42px
}
.bottom_b LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 6px; FLOAT: left; PADDING-TOP: 10px
}
.bottom_d {
	WIDTH: auto; BACKGROUND: url(../images/aa_120.gif) repeat-x; HEIGHT: 42px
}
.bg_menu_line {
	BACKGROUND: url(../images/bg_menu_line.gif) repeat-x 0px 0px; HEIGHT: 6px; CLEAR: both
}
.clear {
	CLEAR: both
}
.bg_login {
	MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: url(../images/bg_login.png) repeat-x 0px 0px; HEIGHT: 100%
}
/* .cloud {
	MARGIN: 0px auto; PADDING-LEFT: 20px; BACKGROUND: url(../images/cloud.png) no-repeat center 100px; HEIGHT: 180px; PADDING-TOP: 45px
}
.panel_login {
	MARGIN: 90px auto 0px; WIDTH: 600px; BACKGROUND: url(../images/bg_panel_login.png) no-repeat 0px 0px; HEIGHT: 320px
} */
.cnt_login {
	TEXT-ALIGN: right; MARGIN: 0px auto; WIDTH: 245px; PADDING-TOP: 40px
}
.cnt_login LI {
	LINE-HEIGHT: 25px; HEIGHT: 35px
}
.cnt_login INPUT {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; LINE-HEIGHT: 25px; WIDTH: 196px; BACKGROUND: #f1f5f9; HEIGHT: 25px; BORDER-TOP: #d4dde5 1px solid; TOP: -1px; BORDER-RIGHT: medium none; LEFT: 0px
}
.cnt_login .itm {
	FLOAT: left; HEIGHT: 26px
}
.line_login {
	BACKGROUND: url(../images/bg_line_login.png) no-repeat center 430px
}
.hand {
	CURSOR: pointer
}
.menu_left {
	WIDTH: 100%; HEIGHT: auto
}
.menubar A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.menubar A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.menubar A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.menu_left .menubar {
	LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 175px; BACKGROUND: url(../images/cnr_menu_lft.png) no-repeat 0px 0px; HEIGHT: 23px; COLOR: #fff
}
.bold {
	FONT-WEIGHT: bold
}
.clear {
	CLEAR: both
}
.table_cnt {
	TEXT-ALIGN: left; MARGIN: 10px; WIDTH: 750px; BACKGROUND: #bfd4e7
}
.table_cnt TD {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-TOP: 3px
}
.table_cnt IMG {
	PADDING-RIGHT: 5px; VERTICAL-ALIGN: middle
}
.table_cnt .title {
	BACKGROUND: url(../images/bg_table_title.gif) repeat-x 0px 0px; FONT-WEIGHT: bold
}
.table_cnt .itm {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/bg_table_itm.gif) repeat-x 0px 0px
}
.table_cnt .odd {
	PADDING-LEFT: 10px; BACKGROUND: #dfebf5
}
.table_cnt .even {
	PADDING-LEFT: 10px; BACKGROUND: #ccdeec
}
.rgt {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px
}
.ctr {
	TEXT-ALIGN: center
}
.table_cnt SPAN {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/arrow_title.gif) no-repeat 5px 2px
}
.ftable_cnt {
	BORDER-BOTTOM: #bfd4e7 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #bfd4e7 1px solid; WIDTH: 750px; BORDER-TOP: #bfd4e7 1px solid; BORDER-RIGHT: #bfd4e7 1px solid
}
.ftable_cnt TD {
	PADDING-LEFT: 5px
}
.ftable_cnt SPAN {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/arrow_title.gif) no-repeat 5px 2px
}
.ftable_cnt .title {
	LINE-HEIGHT: 22px; BACKGROUND: url(../images/bg_table_title.gif) repeat-x 0px 0px; HEIGHT: 22px; FONT-WEIGHT: bold
}
.ftable_cnt IMG {
	PADDING-RIGHT: 5px; VERTICAL-ALIGN: middle
}
.ftable_cnt .forms {
	BACKGROUND: #dfebf5; HEIGHT: 33px
}
.ftable_cnt INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #c5c9cc 1px solid; LINE-HEIGHT: 19px; WIDTH: 200px; BACKGROUND: #f0f6fa; HEIGHT: 19px; BORDER-TOP: #c5c9cc 1px solid; BORDER-RIGHT: medium none
}
SELECT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #c5c9cc 1px solid; WIDTH: 200px; BACKGROUND: #f0f6fa; HEIGHT: 19px; BORDER-TOP: #c5c9cc 1px solid; BORDER-RIGHT: medium none
}
INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #c5c9cc 1px solid; LINE-HEIGHT: 19px; BACKGROUND: #f0f6fa; HEIGHT: 19px; BORDER-TOP: #c5c9cc 1px solid; BORDER-RIGHT: medium none
}
.bgblue {
	BACKGROUND: #92b0cf
}
.bgred {
	BACKGROUND: #c54137
}
.bgorg {
	BACKGROUND: #e69d1e
}
.bggrn {
	BACKGROUND: #84c176
}
.bc {
	TEXT-ALIGN: center; FONT-WEIGHT: bold
}
.left {
	FLOAT: left
}
.tab {
	PADDING-LEFT: 10px; WIDTH: 750px; HEIGHT: 25px
}
.tab LI {
	FLOAT: left; MARGIN-RIGHT: 1px
}
.tab .bg_tabs {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/bg_tabs.gif) repeat-x 0px 0px; HEIGHT: 25px; COLOR: #fff
}
.tab .bg_tab {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/bg_tab.gif) repeat-x 0px 0px; HEIGHT: 25px; COLOR: #fff
}
.tab_line {
	WIDTH: 90%; BACKGROUND: url(../images/tab_bgline.gif) repeat-x 0px 0px; HEIGHT: 6px; MARGIN-LEFT: 10px
}
