<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
    	<setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
    <typeAliases>
    	<!-- 系统管理 -->
    	<package name="com.huaxia.plaze.ui.system.domain" />
    	<!-- 系统配置 -->
    	<package name="com.huaxia.plaze.ui.setting.domain" />
    	<!-- 简项公安 -->
    	<package name="com.huaxia.plaze.ui.nciic.domain" />
    	<!-- 人行征信 -->
    	<package name="com.huaxia.plaze.ui.pboc.domain" />
    	<!-- 学历信息 -->
    	<package name="com.huaxia.plaze.ui.id5.domain" />
    	<!-- 联通运营商（手机实名认证+在网时长） -->
    	<package name="com.huaxia.plaze.ui.unicom.domain" />
    	<!-- 人行数字解读 -->
    	<package name="com.huaxia.plaze.ui.numread.domain" />
    </typeAliases>
    
</configuration>