.querydiv
{
    font-size:12px;
    padding:5px;
    margin:10px;
    border:0;
    padding:0;
    overflow:hidden;
}
.table3col th{
    width: 10%;
    text-align: right;
    font-size: 12px;
    font-style : normal;
    font-weight : normal;
    line-height: 19px;

}
.table3col td{
    width: 23%;
    line-height: 19px;
    font-size: 12px;
}
.table2col{
	width: 100%
}
.table2col th{
	width: 7%;
    text-align: right;
    font-size: 12px;
    font-style : normal;
    font-weight : normal;
    line-height: 19px;
}
.table2col td{
    width: 43%;
    line-height: 19px;
    font-size: 12px;
}
