<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.ui.nciic.mapper.SimplifyPoliceQueryLogMapper">

	<resultMap id="result_Base" type="SimplifyPoliceQueryLog">
		<result column="UUID" property="uuid" jdbcType="CHAR" />
		<result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
		<result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
		<result column="LOG_ID" property="logId" jdbcType="VARCHAR" />
		<result column="TRN_ID" property="trnId" jdbcType="VARCHAR" />
		<result column="QUERY_MODE" property="queryMode" jdbcType="VARCHAR" />
		<result column="QUERY_RESULT" property="queryResult" jdbcType="VARCHAR" />
		<result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
		<result column="STAFF_CERT_NO" property="staffCertNo" jdbcType="VARCHAR" />
		<result column="CERT_NO" property="certNo" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="IP" property="ip" jdbcType="VARCHAR" />
		<result column="MAC" property="mac" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insertObject" parameterType="SimplifyPoliceQueryLog">
		INSERT INTO NCIIC_POLICE_QUERY_LOG (
			UUID,CRT_TIME,CRT_USER,LOG_ID,TRN_ID,QUERY_MODE,QUERY_RESULT,STAFF_NAME,STAFF_CERT_NO,CERT_NO,NAME,IP,MAC
		) VALUES (
			SYS_GUID(),SYSDATE,#{crtUser},SYS_GUID(),#{trnId},#{queryMode},#{queryResult},#{staffName},#{staffCertNo},#{certNo},#{name},#{ip},#{mac}
		)
	</insert>
   
	<!-- 分页总数 -->
	<select id="selectLogListCountByPage" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM NCIIC_POLICE_QUERY_LOG 
		<where>
        	<if test="name != null">
        		AND NAME LIKE '${name}%'
        	</if>
        	<if test="certNo != null">
        		AND CERT_NO LIKE '${certNo}%'
        	</if>
           	<if test="queryMode != null">
      			AND QUERY_MODE = #{queryMode}
	     	</if>
          	<if test="account != null">
      			AND CRT_USER LIKE '${account}%'
	     	</if>
        </where>
      </select>
      
    <!-- 分页记录-->
	<select id="selectLogListByPage" parameterType="java.util.Map" resultMap="result_Base">
		SELECT CRT_USER,CRT_TIME,NAME,CERT_NO,QUERY_MODE,RN FROM (
			SELECT CRT_USER,CRT_TIME,NAME,CERT_NO,QUERY_MODE,ROWNUM RN FROM (
				SELECT CRT_USER,TO_CHAR(CRT_TIME, 'YYYY-MM-DD HH24:MI:SS') AS CRT_TIME,NAME,CERT_NO,QUERY_MODE FROM NCIIC_POLICE_QUERY_LOG 
				<where>
		        	<if test="name != null">
		        		AND NAME LIKE '${name}%'
		        	</if>
		        	<if test="certNo != null">
		        		AND CERT_NO LIKE '${certNo}%'
		        	</if>
		        	 
		           <if test="queryMode != null">
		      		AND QUERY_MODE = #{queryMode}
			     	</if>
		           <if test="account != null">
		      		AND CRT_USER LIKE '${account}%'
			     	</if>
		        </where>
				ORDER BY CRT_TIME DESC) A
			WHERE ROWNUM <![CDATA[ <= ]]> #{pageNo} * #{pageSize}) 
		WHERE RN<![CDATA[ > ]]> (#{pageNo} - 1) * #{pageSize}
   </select>
   
   <update id="updateQueryResult" parameterType="map">
		UPDATE NCIIC_POLICE_QUERY_LOG SET QUERY_RESULT = #{queryResult} WHERE TRN_ID = #{trnId}
	</update>
	
</mapper>