
@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #E6F0FF;
	color: #003476;
}

input, select {
	border: 1px solid #A4BED4
}

.bt_public_107, button {
	width: 107px;
	height: 32px;
	line-height: 32px;
	border: none;
	color: #fff;
	text-align: center;
	background: url(../../images/index/bt_public.png) no-repeat center
		center;
	font-weight: bold;
	cursor: pointer;
}

.bt_public_60 {
	width: 60px;
	height: 25px;
	line-height: 25px;
	border: none;
	color: #fff;
	text-align: center;
	background: url(../../images/index/60-25px.png) no-repeat center center;
	font-weight: bold;
	cursor: pointer;
}

.bt_public_38 {
	width: 38px;
	height: 25px;
	line-height: 25px;
	border: none;
	color: #fff;
	text-align: center;
	background: url(../../images/index/GO_bg.png) no-repeat center center;
	font-weight: bold;
	cursor: pointer;
}

.bt_public_107:hover {
	background: url(../../images/index/bt_hover_public.png) no-repeat center
		center;
}

.bt_public_60:hover {
	background: url(../../images/index/60-25_hoverpx.png) no-repeat center
		center;
}

.bt_public_38:hover {
	background: url(../../images/index/GO_bg_hover.png) no-repeat center
		center;
}

/** User login information */
#header {
	width: 100%;
	height: 60px;
	background: #122C67 url(../../images/index/head_bg.jpg) no-repeat 0 0;
}

#user_info {
	width: 450px;
	height: 100%;
	float: right;
	position: relative;
}

#user_info a {
	color: #FFFFFF;
}

#user_info span {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: inline-block;
	width: 120px;
	height: 20px;
	background: url(../../images/index/tou_xiang.png) no-repeat 0 0;
	padding-left: 20px;
	color: #FFFFFF;
}

#user_info ul {
	position: absolute;
	top: 10px;
	right: 40px;
}

#user_info ul li {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

#login_role {
	position: absolute;
	right: 10%;
	bottom: 0;
	text-align: center;
	width: 163px;
	padding-top: 10px;
	height: 20px;
	line-height: 20px;
	font: bold 1em/1em Arial;
	color: #FFFFFF;
	background: url(../../images/index/bg_dangqian.png) no-repeat;
}

.btn-exit {
	position: absolute;
	top: 12px;
	right: 10px;
	width: 19px;
	height: 19px;
	background: url(../../images/index/tuichu.png) no-repeat 0 0;
	border: none;
	cursor: pointer;
}

.btn-exit:hover {
	background-image: url(../../images/index/tuichu_hover.png);
}

/*-----------------------------以上为头部样式--------------------------------*/
#left_list {
	width: 241px;
	height: 857px;
	height: 922px\0;
	background: url(../../images/index/bg_list.png) repeat-y;
	border: 1px solid #AECBFF;
	float: left;
} /*向左浮动*/
ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#left_list ul li {
	width: 100%;
	height: 56px;
	line-height: 56px;
	border: 1px solid #AECBFF;
	border-bottom: none;
	border-right: none;
	color: #003476;
	position: relative;
	cursor: pointer;
}

.list_hover {
	background: url(../../images/index/bg_list_hover.png) repeat-y;
	font-weight: bold;
	color: #FFF;
}

#left_list ul li .list_img {
	position: absolute;
	left: 25px;
	top: 15px;
}

#left_list ul li a {
	position: absolute;
	left: 68px;
	width: 45%
}

#left_list ul li .zhan_kai {
	position: absolute;
	right: 30px;
	top: 20px;
}

#left_list ul li .shou_qi {
	position: absolute;
	right: 30px;
	top: 20px;
}

.red_css {
	color: #AC001C;
	font-weight: bold;
}

.bg_hover:hover {
	background: url(../../images/index/bg_list_hover.png) repeat-y;
	font-weight: bold;
	color: #FFF;
}

.bg_hover a {
	width: 100%;
	height: 56px;
}

.bg_hover a:hover {
	color: #FFF
}

/*-----------------------------以上为左边菜单样式--------------------------------*/
#box_right {
	width: 100%;
	height: 857px;
	height: 910px\0;
	padding: 0px 1px;
	float: left;
	position: absolute;
	left: 245px;
	top: 60px;
} /*右边整体尺寸*/
#box_right_01 {
	width: 1660px;
	height: 857px;
	height: 910px\0;
	margin-left: 3px;
	float: left;
	position: absolute;
}

.daohang_box {
	width: 100%;
	height: 55px;
}

.daohang {
	width: auto;
	height: 35px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}

.daohang span, a {
	display: inline-block;
	text-decoration: none;
}

.dh_1left {
	width: 6px;
	height: 100%;
	background: url(../../images/index/dh_1left.png) no-repeat;
}

.dh_3left {
	width: 6px;
	height: 100%;
	background: url(../../images/index/dh_3left.png) no-repeat;
}

.dh_2middle {
	width: 90px;
	height: 100%;
	background: url(../../images/index/dh_2middle.png) repeat-x;
}

.dh_2right {
	width: 7px;
	height: 100%;
	background: url(../../images/index/dh_2right.png) no-repeat;
}

.dh_left {
	width: 7px;
	height: 100%;
	background: url(../../images/index/dh_left.png) no-repeat;
}

.dh_middle {
	width: 110px;
	height: 100%;
	background: url(../../images/index/dh_middle.png) repeat-x;
}

.dh_right {
	width: 7px;
	height: 100%;
	background: url(../../images/index/dh_right.png) no-repeat;
}

.dh_2left {
	width: 6px;
	height: 100%;
	background: url(../../images/index/dh_2left.png) no-repeat;
}

.dh_2middle {
	width: 90px;
	height: 100%;
	background: url(../../images/index/dh_2middle.png) repeat-x;
}

.dh_2right {
	width: 7px;
	height: 100%;
	background: url(../../images/index/dh_2right.png) no-repeat;
}

.dh_2middle, .dh_middle {
	color: #003476;
	line-height: 39px;
	text-align: center;
	position: relative;
	top: -11px;
	top: -10px\0;
}

.dh_2middle:hover {
	font-weight: bold;
}

.dh_middle:hover {
	font-weight: bold;
}

.close {
	width: 21px;
	height: 21px;
	background: url(../../images/index/close.png) no-repeat;
	position: relative;
	top: 4px;
	left: 8px;
}

.fenge_daohang {
	clear: both;
	width: 100%;
	height: 3px;
	background-color: #9EB5F2;
	border: 1px solid #9FC6FF;
	position: relative;
	top: -1px;
	z-index: -100
}

.close:hover {
	width: 21px;
	height: 21px;
	background: url(../../images/index/close_hover.png) no-repeat;
	position: relative;
	top: 4px;
	left: 8px;
}

/*-----------------------------以上为导航菜单样式--------------------------------*/
.yxxx {
	width: 383px;
	height: 710px;
	float: left;
}

.jcxx {
	width: 825px;
	height: 710px;
	float: left;
	margin-left: 13px;
}

.bdxx {
	width: 420px;
	height: 710px;
	float: left;
	margin-left: 13px;
}

.yxxx, .jcxx, .bdxx {
	height: 760px\0;
} /*---IE11----*/
.title_biao {
	width: 290px;
	height: 35px;
	margin: 0 auto;
}

.title_biao span, a {
	display: inline-block;
	text-decoration: none;
}

.title_left {
	width: 33px;
	height: 35px;
	background: url(../../images/index/title_left.png) no-repeat;
}

.title_middle {
	width: 205px;
	height: 35px;
	background: url(../../images/index/title_middle.png) repeat-x;
}

.title_right {
	width: 33px;
	height: 35px;
	background: url(../../images/index/title_right.png) no-repeat;
}

.title_right2 {
	width: 33px;
	height: 35px;
	background: url(../../images/index/title_right2.png) no-repeat;
}

.title_middle_2 {
	width: 100px;
	height: 35px;
	background: url(../../images/index/title_middle.png) repeat-x;
}

.title_middle, .title_middle_2, .title_m_2 {
	color: #fff;
	line-height: 35px;
	text-align: center;
	letter-spacing: 2px;
	position: relative;
	top: -13px;
	top: -11px\0;
}

.title_m_2 {
	width: 100px;
	height: 35px;
	background: url(../../images/index/title_middle2.png) repeat-x;
	color: #003476;
}

.xian {
	width: 100%;
	height: 5px;
	background: url(../../images/index/xian.png) repeat-x;
	border-right: 2px solid #2444C2;
	position: relative;
}

.neirong {
	width: 100%;
	height: 670px;
	height: 720px\0;
	border: 1px solid #AECBFF;
	background-color: #fff;
}

.fenge {
	clear: both;
	width: 100%;
	height: 5px;
	background-color: #9EB5F2;
	position: relative;
	top: 13px;
}

#button_box {
	width: 100%;
	height: 55px;
	position: absolute;
	bottom: 0px;
	display: table-row;
	vertical-align: middle;
}

.xiugai_jilu {
	display: inline-block;
	width: 179px;
	height: 32px;
	background: url(../../images/index/bt_xiugai.png) no-repeat;
	margin-left: 65px;
}

.waiwang_sousuo {
	display: inline-block;
	width: 113px;
	height: 32px;
	background: url(../../images/index/bt_wwss.png) no-repeat;
	margin-left: 40px;
}

.gou_xuan {
	display: inline-block;
	position: relative;
	top: -10px;
	margin-left: 725px;
}

.ti_jiao {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_tijiao.png) no-repeat;
	margin-left: 30px;
}

.xiugai_jilu:hover {
	display: inline-block;
	width: 179px;
	height: 32px;
	background: url(../../images/index/bt_xiugai_hover.png) no-repeat;
	margin-left: 65px;
}

.waiwang_sousuo:hover {
	display: inline-block;
	width: 113px;
	height: 32px;
	background: url(../../images/index/bt_wwss_hover.png) no-repeat;
	margin-left: 40px;
}

.ti_jiao:hover {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_tijiao_hover.png) no-repeat;
	margin-left: 30px;
}

.bao_cun {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_baocun.png) no-repeat;
	margin-left: 30px;
}

.bao_cun:hover {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_baocun_hover.png) no-repeat;
	margin-left: 30px;
}

.zzwt {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_zzwt.png) no-repeat;
	margin-left: 30px;
}

.zzwt:hover {
	display: inline-block;
	width: 93px;
	height: 32px;
	background: url(../../images/index/bt_zzwt_hover.png) no-repeat;
	margin-left: 30px;
}

/*-----------------------------以上为：影像比对，右边菜单样式--------------------------------*/
.shouye_box {
	width: 27%;
	height: 395px;
	height: 422px\0;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

.shouye_neirong {
	width: 100%;
	height: 320px;
	height: 340px\0;
	border: 1px solid #AECBFF;
	background-color: #fff;
}

.shouye_neirong ul {
	list-style-image: url(../../images/index/list_style_img.png);
	position: relative;
	top: 50px;
	padding-left: 80px;
}

.shouye_neirong li, .shouye_neirong p {
	height: 55px;
	color: #595757;
	letter-spacing: 2px;
}

.shouye_neirong p {
	width: 70%;
}

.shouye_neirong li strong {
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	color: #AC001C;
}

.shouye_neirong li a {
	color: #003476;
	text-decoration: underline;
}

.shouye_neirong h2 {
	color: #003476;
	letter-spacing: 4px;
}
/*-----------------------------以上为：首页样式--------------------------------*/

/*-----------------------------以下为：影像比对，表单样式--------------------------------*/
.title_blue {
	width: 100%;
	height: 24px;
	background-color: #CFE6FE;
	color: #003476;
	line-height: 22px;
	margin: 0 0 10px 0;
}

.title_blue strong {
	font-weight: bold;
	margin-left: 25px;
}

.neirong select {
	width: 180px;
	height: 22px;
}

.neirong input {
	width: 159px;
	width: 157px\0;
	height: 18px;
}

.neirong ul {
	margin-left: 10px;
}

.neirong li {
	height: 32px;
}

.neirong {
	overflow-y: scroll;
}

.jbxx_left, .jbxx_right {
	width: 120px;
	height: auto;
	color: #003476;
	float: left;
}

.jbxx_left_input {
	width: 180px;
	height: auto;
	float: left;
}

.jbxx_right_input {
	width: 180px;
	height: auto;
	float: left;
}

.jbxx_right {
	padding-left: 20px;
}

/*---以下li代码不能往前放---*/
.gong_neng {
	width: 140px;
	height: 598px;
	background-color: #E7F3FF;
	position: absolute;
	top: 5px;
	right: 15px;
	z-index: 100;
}

.gong_neng li {
	text-align: center;
	height: 50px;
	background: url(../../images/index/bt_public.png) no-repeat center
		center;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	cursor: pointer;
}

.title_gn {
	height: 25px;
	background-color: #9FCEFE;
	color: #003476;
	font-weight: bold;
	line-height: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

.gong_neng li:hover {
	background: url(../../images/index/bt_hover_public.png) no-repeat center
		center;
}
/*------*/
.yxbd_input input {
	width: 250px;
	height: auto;
	float: left;
}

.zxbd {
	width: 182px;
	height: auto;
	color: #003476;
	float: left;
}

.red_letter {
	color: #AC001C;
	font-weight: bold;
}

.zxbd_right input {
	width: 173px;
	height: auto;
	margin-left: 18px;
	float: left;
}

.radio_input input {
	width: 20px;
	border: 1px solid red;
}

.radio_input span {
	display: inline-block;
	color: #666;
}

/* CSS Document */
html, body, div, p, form, label, ul, li, dl, dt, dd, ol, img, button, h1,
	h2, h3, h4, h5, h6, b, em, strong, small {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-style: normal;
	font-weight: normal;
}

dl, dt, dd {
	display: block;
	margin: 0;
}

a {
	text-decoration: none;
}

.block, #block {
	display: block;
}

.none, #none {
	display: none;
}

body {
	overflow: hidden;
}
/*****头部和尾部******/

/*****左侧菜单部分******/

.left_menu {
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	overflow: auto;
	background-color: #EAF2FF;
	border: 1px solid #AECBFF;
	border-top: none;
	width: 100%;
}

.left_menu a {
	color: #003476;
	font-weight: bold;
}

.left_menu ul li {
	display: block;
	position: relative;
}

.left_menu ul li .list-item a {
	font-size: 12px;
	line-height: 3em;
	padding-left: 16px;
	text-decoration: none;
	text-align: left;
	display: block;
	position: relative;
} 

/*子菜单高度在这行*/
.left_menu ul li .list-item a:hover {
	padding-left: 16px;
	background-color: #96B8E6;
	color: #122C67;
	postition: relative;
}

.left_menu ul li a.noline {
	border-bottom: none;
}

.left_menu ul li h4 {
	cursor: pointer;
	border: 1px solid #B7D2FF;
	border-top: none;
	border-right: none;
	text-decoration: none;
	color: #122C67;
	display: block;
	line-height: 46px;
	font-size: 12px;
	font-weight: bold;
}

.left_menu ul li.selected h4.M1, .left_menu ul li h4:hover {
	background-color: #96B8E6;
}

.left_menu ul li.noline {
	border-bottom: none;
}

.selecteds {
	text-decoration: none;
	text-align: center;
	display: block;
	position: relative;
	background-color: #B7D2FF;
} 

/*锁定时样式*/
.left_menu li .list-item {
	position: relative;
	zoom: 1;
	overflow: hidden;
}

.left_menu h4 span {
	display: block;
	float: left;
	width: 21px;
	height: 21px;
	margin:12px 10px 0 10px;
}

.left_menu ul li h4.M1 span {
	background: url(../../images/collapsible.png) no-repeat 0 0;
}

.left_menu ul li.selected h4.M1 span {
	background:url(../../images/collapsible.png) no-repeat -21px 0;
}

.menu_unsel {
	display: inline-block;
	position: absolute;
	top: 10px;
	z-index: 50;
}

.menu_sel {
	display: inline-block;
	width: 21px;
	height: 21px;
	background: url(../../images/xuan_zhong_select.png) no-repeat;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 50
}

/***三级菜单样式**/
.list34_box {
	height: auto;
	border-bottom: none;
	display: none;
	position: absolute;
	top: 0px;
	left: 242px;
	z-index: 1000;
}

.list_3 {
	height: auto;
	float: left;
}

.three-a {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0px 15px;
	color: #666;
	background-color: #f2f7ff;
	border: 1px solid #95b8e7;
	border-top: none;
}

.three-a:hover {
	color: #003476;
	font-weight: bold;
	background-color: #cadfff;
}

.list_4 {
	width: auto;
	height: auto;
	float: left;
	margin-left: 30px;
}

.foure-a {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0px 15px;
	color: #003476;
	background-color: #fff;
	border-bottom: 1px solid #95b8e7;
	border-right: 1px solid #95b8e7;
	text-align: center;
	padding: 0px 15px;
	color: #003476;
	background-color: #fff;
	border-bottom: 1px solid #95b8e7;
	border-right: 1px solid #95b8e7;
}

.foure-a span {
	float: left;
	width: auto;
	height: 16px;
	line-height: 35px;
	text-align: center;
	padding: 0px 15px;
	color: #003476;
	background-color: #fff;
	text-align: center;
	padding: 0px 15px;
	color: #003476;
	background-color: #fff;
}

.foure-a span:hover {
	color: #ac001c;
	font-weight: bold;
}