<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.opas.mapper.tripartite.SeaAirMapper">

  <resultMap id="BaseResultMap" type="com.huaxia.opas.domain.tripartite.SeaAir">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="CHAR" property="appId" />
    <result column="ERRORCODE" jdbcType="VARCHAR" property="errorcode" />
    <result column="ERRORMESSAGE" jdbcType="VARCHAR" property="errormessage" />
    <result column="STID" jdbcType="VARCHAR" property="stid" />
    <result column="CTID" jdbcType="VARCHAR" property="ctid" />
    <result column="EXTENDSINFO" jdbcType="VARCHAR" property="extendsinfo" />
    <result column="VIPFLG" jdbcType="VARCHAR" property="vipflg" />
    <result column="CID" jdbcType="VARCHAR" property="cid" />
    <result column="FLYCNT" jdbcType="DECIMAL" property="flycnt" />
    <result column="GRADE" jdbcType="VARCHAR" property="grade" />
    <result column="RESRV1" jdbcType="VARCHAR" property="resrv1" />
    <result column="RESRV2" jdbcType="VARCHAR" property="resrv2" />
    <result column="RESRV3" jdbcType="VARCHAR" property="resrv3" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
  </resultMap>

  <insert id="insertSeaAirData" parameterType="com.huaxia.opas.domain.tripartite.SeaAir">
    INSERT INTO OPAS_SEA_AIR_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
        ID,
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="errorcode != null">
        ERRORCODE,
      </if>
      <if test="errormessage != null">
        ERRORMESSAGE,
      </if>
      <if test="stid != null">
        STID,
      </if>
      <if test="ctid != null">
        CTID,
      </if>
      <if test="extendsinfo != null">
        EXTENDSINFO,
      </if>
      <if test="vipflg != null">
        VIPFLG,
      </if>
      <if test="cid != null">
        CID,
      </if>
      <if test="flycnt != null">
        FLYCNT,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="resrv1 != null">
        RESRV1,
      </if>
      <if test="resrv2 != null">
        RESRV2,
      </if>
      <if test="resrv3 != null">
        RESRV3,
      </if>
        CRT_TIME
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
       sys_guid(),
      <if test="appId != null">
        #{appId,jdbcType=CHAR},
      </if>
      <if test="errorcode != null">
        #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="errormessage != null">
        #{errormessage,jdbcType=VARCHAR},
      </if>
      <if test="stid != null">
        #{stid,jdbcType=VARCHAR},
      </if>
      <if test="ctid != null">
        #{ctid,jdbcType=VARCHAR},
      </if>
      <if test="extendsinfo != null">
        #{extendsinfo,jdbcType=VARCHAR},
      </if>
      <if test="vipflg != null">
        #{vipflg,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="flycnt != null">
        #{flycnt,jdbcType=DECIMAL},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="resrv1 != null">
        #{resrv1,jdbcType=VARCHAR},
      </if>
      <if test="resrv2 != null">
        #{resrv2,jdbcType=VARCHAR},
      </if>
      <if test="resrv3 != null">
        #{resrv3,jdbcType=VARCHAR},
      </if>
        SYSDATE
    </trim>
  </insert>
  
  <select id="selectCountByAppId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM OPAS_SEA_AIR_DATA  WHERE  APP_ID = #{appId, jdbcType = CHAR}
  </select>
  
  <update id="updateCardC1SeaMemberId" parameterType="java.util.Map">
	  UPDATE OPAS_BIZ_INP_APPL_C1 SET C4_BUEMB=#{seaMemberId},LST_UPD_TIME=SYSDATE,
	  LST_UPD_USER=#{lstUpdUser}  WHERE APP_ID LIKE '${appId}%' AND (C4_BUEMB!=#{seaMemberId,jdbcType=VARCHAR} OR C4_BUEMB IS NULL)
  </update>
  
  <update id="updateCardC2SeaMemberId" parameterType="java.util.Map">
	  UPDATE OPAS_BIZ_INP_APPL_C2 SET  C4_BUEMB2=#{seaMemberId},LST_UPD_TIME=SYSDATE,
	  LST_UPD_USER=#{lstUpdUser}  WHERE APP_ID LIKE '${appId}%' AND (C4_BUEMB2!=#{seaMemberId,jdbcType=VARCHAR} OR C4_BUEMB2 IS NULL)
  </update>
  
</mapper>