<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper	namespace="com.huaxia.cams.modules.police.mapper.PoliceForeignerServiceMapper">
	<select id="selectCountByAppId" resultType = "java.lang.Integer">
		SELECT COUNT(1) FROM NCIIC_FOREIGNER_INFO WHERE APP_ID = #{appId,jdbcType=CHAR}
	</select>
	<select id="selectBirthAndIDTE" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT to_char(C1_BIRTH,'yyyymmdd') as birth,to_char(C5_IDTE1,'yyyymmdd')   as EXPIRY_DATE  FROM OPAS_BIZ_INP_APPL_C1 WHERE APP_ID = #{appId, jdbcType=CHAR} and ROWNUM = '1'
	</select>
	<select id="selectSupKarBirthAndIDTE" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT to_char(C2_BIRTH,'yyyymmdd')  as birth ,to_char(C5_IDTE2,'yyyymmdd')  as EXPIRY_DATE   FROM OPAS_BIZ_INP_APPL_C2 WHERE APP_ID = #{appId, jdbcType=CHAR} and ROWNUM = '1'
	</select>
	<insert id="insertPoliceForeignerInfo"  parameterType="com.huaxia.cams.modules.police.domain.NciicForeignerInfo">
		INSERT INTO NCIIC_FOREIGNER_INFO (
			  UUID ,
			  APP_ID ,
			  CRT_TIME ,
			  CRT_USER ,
			  SBM ,
			  FSD ,
			  YWLX  ,
			  ZJHM ,
			  XM ,
			  CSRQ ,
			  ZJYXQZ ,
			  ZXBBH ,
			  RESULT_CODE ,
			  ERROR_CODE,
			  ERROR_MESSAGE ,
			  ERROR_MESSAGE_COL,
			  CARD_FLAG,
			  CERT_TYPE
		) VALUES (
			SYS_GUID(),
			#{appId, jdbcType = CHAR},
			SYSDATE,
			#{crtUser, jdbcType = VARCHAR},
			#{sbm, jdbcType = VARCHAR},
			#{fsd, jdbcType = VARCHAR},
			#{ywlx, jdbcType = VARCHAR},
			#{zjhm, jdbcType = VARCHAR},
			#{xm, jdbcType = VARCHAR},
			#{csrq, jdbcType = VARCHAR},
			#{zjyxqr, jdbcType = VARCHAR},
			#{zxbbh, jdbcType = VARCHAR},
			#{resultCode, jdbcType = VARCHAR},
			#{errorCode, jdbcType = VARCHAR},
			#{errorMessage, jdbcType = VARCHAR},
			#{errorMessageCol, jdbcType = VARCHAR},
			#{cardFlag, jdbcType = VARCHAR},
			#{certType, jdbcType = VARCHAR}
		)
	</insert>
</mapper>