<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxia.plaze.ui.id5.mapper.EducationMapper">

	<resultMap id="resultDetailInfo" type="Education">
		<!-- <result column="INSIDE_APP_NO" property="insideAppNo" jdbcType="VARCHAR" 
			/> -->
		<result column="USERNAME" property="userName" jdbcType="VARCHAR" />
		<result column="IDENTITYCARD" property="identityCard" jdbcType="VARCHAR" />
		<result column="GRADUATE" property="graduate" jdbcType="VARCHAR" />
		<result column="EDUCATIONDEGREE" property="educationDegree"
			jdbcType="VARCHAR" />
		<result column="ENROLDATE" property="enrolDate" jdbcType="VARCHAR" />
		<result column="SPECIALITYNAME" property="specialityName"
			jdbcType="VARCHAR" />
		<result column="GRADUATETIME" property="graduateTime" jdbcType="VARCHAR" />
		<result column="STUDYRESULT" property="studyResult" jdbcType="VARCHAR" />
		<result column="STUDYSTYLE" property="studyStyle" jdbcType="VARCHAR" />
		<result column="SCHOOLTYPE" property="schoolType" jdbcType="VARCHAR" />
		<result column="PHOTO" property="photo" jdbcType="VARCHAR" />
		<result column="HISNAME" property="hisName" jdbcType="VARCHAR" />
		<result column="SCHOOLCITY" property="schoolCity" jdbcType="VARCHAR" />
		<result column="SCHOOLTRADE" property="schoolTrade" jdbcType="VARCHAR" />
		<result column="ORGANIZATION" property="organization" jdbcType="VARCHAR" />
		<result column="SCHOOLNATURE" property="schoolNature" jdbcType="VARCHAR" />
		<result column="SCHOOLCATEGORY" property="schoolCategory"
			jdbcType="VARCHAR" />
		<result column="LEVEL_" property="level_" jdbcType="VARCHAR" />
		<result column="EDUCATIONAPPROACH" property="educationApproach"
			jdbcType="VARCHAR" />
		<result column="CREATEDATE" property="createDate" jdbcType="VARCHAR" />
		<result column="CREATEYEAR" property="createYear" jdbcType="VARCHAR" />
		<result column="ACADEMICIANNUM" property="academiciannum"
			jdbcType="VARCHAR" />
		<result column="BSHLDZNUM" property="bshldzNum" jdbcType="VARCHAR" />
		<result column="BSDNUM" property="bsdNum" jdbcType="VARCHAR" />
		<result column="SSDNUM" property="ssdNum" jdbcType="VARCHAR" />
		<result column="ZDXKNUM" property="zdxkNum" jdbcType="VARCHAR" />
		<result column="LKLQPC" property="lklqpc" jdbcType="VARCHAR" />
		<result column="WKLQPC" property="wklqpc" jdbcType="VARCHAR" />
		<result column="DSTUDYSTYLE" property="dstudyStyle" jdbcType="VARCHAR" />
		<result column="IDCORICT2" property="idcorict2" jdbcType="VARCHAR" />
		<result column="BIRTHDAY2" property="birthday2" jdbcType="VARCHAR" />
		<result column="SEX2" property="sex2" jdbcType="CHAR" />
		<result column="NO" property="no" jdbcType="VARCHAR" />
		<result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
		<!-- <result column="CRT_DATE" property="crtDate" jdbcType="VARCHAR" /> 
			<result column="LST_UPD_TIME" property="lstUpdTime" jdbcType="VARCHAR" javaType="java.lang.String"/> 
			<result column="LST_UPD_DATE" property="lstUpdDate" jdbcType="VARCHAR" /> 
			<result column="LST_UPD_USER" property="lstUpdUser" jdbcType="VARCHAR" /> 
			<result column="BATCH_DATE" property="batchDate" jdbcType="VARCHAR" /> <result 
			column="REC_STATUS" property="recStatus" jdbcType="CHAR" /> -->
		<result column="QUERY_STATUS" property="queryStatus" jdbcType="VARCHAR" />
		<result column="QUERY_RESULT" property="queryResult" jdbcType="VARCHAR" />
		<result column="TRN_ID" property="trnId" jdbcType="VARCHAR" />

	</resultMap>


	<!-- 分页总数 -->
	<select id="selectHistoryListCountByPage" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1) FROM id5_info
		<where>
			<if test="identityCard != null">
				AND IDENTITYCARD = #{identityCard}
			</if>
		</where>
	</select>

	<!-- 分页记录 -->
	<select id="selectHistoryListByPage" parameterType="java.util.Map"
		resultMap="resultDetailInfo">
		SELECT * FROM (SELECT A.*,ROWNUM RN FROM
		(SELECT
		IDENTITYCARD,TRN_ID,USERNAME,QUERY_RESULT,TO_CHAR(CRT_TIME, 'YYYY-MM-DD HH24:MI:SS') AS CRT_TIME
		FROM id5_info
		<where>
			<if test="identityCard != null">
				IDENTITYCARD = #{identityCard}
			</if>
		</where>
		ORDER BY
		CRT_TIME DESC

		)A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageNo} * #{pageSize}) WHERE RN<![CDATA[ > ]]>
		(#{pageNo} - 1) * #{pageSize}


	</select>
	<select id="selectResultByTrnId" parameterType="java.lang.String"
		resultMap="resultDetailInfo">
		SELECT
		USERNAME,IDENTITYCARD,GRADUATE,EDUCATIONDEGREE,ENROLDATE,SPECIALITYNAME,
		GRADUATETIME,STUDYRESULT,STUDYSTYLE,SCHOOLTYPE,PHOTO,HISNAME,SCHOOLCITY,SCHOOLTRADE,
		ORGANIZATION,SCHOOLNATURE,SCHOOLCATEGORY,LEVEL_,EDUCATIONAPPROACH,CREATEDATE,
		CREATEYEAR,ACADEMICIANNUM,BSHLDZNUM,BSDNUM,SSDNUM,ZDXKNUM,LKLQPC,WKLQPC,DSTUDYSTYLE,
		IDCORICT2,BIRTHDAY2,SEX2,NO,CRT_TIME,CRT_USER,QUERY_STATUS,QUERY_RESULT,TRN_ID
		FROM id5_info
		WHERE TRN_ID = #{trnId}
	</select>

        <select id="selectQueryResultBySource" parameterType="java.util.Map" statementType="CALLABLE">
		<![CDATA[
		        {CALL ds_id5_000300_count(#{source_code_num,mode=IN,jdbcType=VARCHAR},
		        #{channel_code_num,mode=IN,jdbcType=VARCHAR},
		        #{v_set,mode=OUT,jdbcType=VARCHAR},
		        #{end_num,mode=OUT,jdbcType=VARCHAR})}
		]]> 
	</select>
</mapper>